/**
 * Google Material Symbols Font
 * We use it like this: https://developers.google.com/fonts/docs/material_symbols#using_material_symbols
 * List of icons: https://fonts.google.com/icons
 * You can use the icons like this: <span class="material-symbols-outlined">ICON_NAME</span>
 * Make sure to add the ICON_NAME in the `icon_names` query parameter below (comma separated)
 * If you fail to do so, the icons won't render and you'll see a weird text instead.
 */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back,content_copy,favorite,home,lock_open,mail,phone_in_talk,search,settings');

.material-symbols-outlined {
    font-size: inherit;
}
