fieldset {
    border: var(--bthick) solid var(--divider-color);
    border-radius: var(--bradius);
    padding: var(--gap2);
    padding-top: 0;
    margin: 0;
    box-shadow: inset 0 0 var(--gap) var(--bthick) var(--background-darker);
    background-color: rgba(0, 0, 0, 0.1);
}

fieldset legend {
    padding-inline: 0;
    padding: 0;
    color: var(--primary-color);
    text-shadow: 0 0 var(--gap) var(--background-darker);
}

fieldset + fieldset {
    margin-top: var(--gap);
}

input[type='range'] {
    --webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1em;
    outline: none;
    margin: var(--gap) auto;
    cursor: ew-resize;
    box-shadow: 0 0 var(--gap) var(--bthick) var(--background-darker);
}

input[type='range']::-webkit-slider-runnable-track {
    border: var(--bthick) solid var(--ui-border);
    transition: border-color var(--animation-speed) ease-in-out;
    background-color: var(--background-darker);
    height: 100%;
}

input[type='range']:hover::-webkit-slider-runnable-track,
input[type='range']:focus::-webkit-slider-runnable-track {
    border-color: var(--secondary-color);
}

input[type='range']::-webkit-slider-thumb {
    --webkit-appearance: none;
    appearance: none;
    width: 0.2em;
    height: 100%;
    background-color: var(--secondary-color);
    transition: height var(--animation-speed) ease-in-out, margin-top var(--animation-speed) ease-in-out;
}

input[type='range']:hover::-webkit-slider-thumb,
input[type='range']:focus::-webkit-slider-thumb {
    margin-top: -0.5em;
    height: 200%;
}

input[type='search'],
input[type='text'],
input[type='number'],
input[type='url'],
select,
textarea {
    padding: var(--gap);
    font-family: inherit;
    font-size: inherit;
    border: var(--bthick) solid var(--ui-border);
    border-radius: var(--bradius);
    background-color: var(--background-darker);
    color: inherit;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 var(--gap) var(--bthick) var(--background-darker);
    transition: border-color var(--animation-speed) ease-in-out;
}

input[type='search']:hover,
input[type='text']:hover,
input[type='number']:hover,
input[type='url']:hover,
select:hover,
textarea:hover,
table input[type='search'],
table input[type='text'],
table input[type='number'],
table input[type='url'],
table select,
table textarea {
    border-color: var(--secondary-color);
}

input[type='search']:focus,
input[type='text']:focus,
input[type='number']:focus,
input[type='url']:focus,
select:focus,
textarea:focus {
    border-color: var(--secondary-color);
}

input[type='search']:focus-visible,
input[type='text']:focus-visible,
input[type='number']:focus-visible,
input[type='url']:focus-visible,
select:focus-visible,
textarea:focus-visible {
    outline: none;
}

input[type='radio'] {
    --webkit-appearance: none;
    --moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: var(--bthick) solid var(--secondary-color);
    background-color: var(--background-lighter);
    transition: background-color var(--animation-speed) ease-in-out;
}

input[type='radio']:disabled {
    border-color: var(--disabled-color);
    cursor: not-allowed;
}

input[type='radio']:checked {
    background-color: var(--secondary-color);
}

input[type='checkbox']:disabled {
    cursor: not-allowed;
}

textarea {
    resize: vertical;
}

.button-bar {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    margin-top: var(--gap);
    margin-bottom: var(--gap);
    gap: var(--gap);

    & button:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    & button:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

button {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: none;
    border-radius: var(--bradius2);
    cursor: pointer;
    box-shadow: inset 0 0 0.5em 0 #ffffff44;
    padding: var(--gap) var(--gap2);
    margin: 1px; /* To have place for showing focus outline */
    transition: filter var(--animation-speed), box-shadow var(--animation-speed);
}

button[disabled], button[disabled]:hover {
    background-color: var(--background-lighter);
    color: var(--ui-border);
    cursor: not-allowed;
    box-shadow: none;
    filter: none;
}

button:hover {
    filter: brightness(135%);
    box-shadow: 0 0 0.5em 0 var(--secondary-color);
    z-index: 1;
}

.button--small {
    padding: 1px var(--gap);
    border-radius: var(--bradius);
}

.button--large {
    font-size: 1.3rem;
    padding: var(--gap2);
    border-radius: var(--bradius3);
}

.button--cta {
    background-color: var(--primary-color);
}

.button--cta:hover {
    box-shadow: 0 0 0.5em 0 var(--primary-color);
}

.button--danger {
    background-color: var(--brand-red);
}

.button--danger:hover {
    box-shadow: 0 0 0.5em 0 var(--brand-red);
}

a, a:hover, a:active {
    color: inherit;
}

.input-group {
    margin: 0;
}

.input-group + .input-group {
    margin-top: var(--gap);
}

.input-button-pair {
    display: flex;

    & :first-child {
        flex: 1;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    & :last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    button {
        margin: 0;
    }
}

label {
    cursor: pointer;
}

label.spaced + label.spaced {
    margin-left: 0.2em;
}

.subtle-hint {
    opacity: 0.6;
    font-size: smaller;
    font-family: var(--body-font-family);
}

input[type='search']:invalid,
input[type='text']:invalid,
input[type='number']:invalid,
input[type='url']:invalid,
select:invalid,
textarea:invalid {
    border-color: var(--brand-red);
}
