@media screen and (max-width: 999px) {
    section {
        margin: var(--gap);
    }
}

@media screen and (min-width: 1000px) {
    body {
        /* No time for branding! It'll be too crowded */
        background-image: none;
    }

    article {
        display: flex;
        justify-content: space-evenly;
        gap: 1em;
        align-items: flex-start;
    }

    article section {
        flex: 1;
    }

    .only-mobile {
        display: none;
    }
}

article {
    padding: var(--gap2);
}

article.stretch {
    align-items: stretch;
}

section {
    box-sizing: content-box;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.sidebar {
    display: block;
    border-right: 1px solid var(--divider-color);
    width: 280px;
    padding: var(--gap);
    flex-shrink: 0;
}

.sidebar header {
    text-align: left;
}

.sidebar nav ul {
    padding: 0;
    padding-left: 0.5em;
}

.sidebar nav li {
    list-style: none;
}

.main-container .main-content {
    flex-grow: 1; /* Allow the main content to grow and take up remaining space */
    padding: var(--gap);
    overflow: auto; /* Ensure content doesn't overflow */
}

.pad-gap {
    padding: var(--gap);
}

.v-pad-gap {
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.h-pad-gap {
    padding-top: var(--gap);
    padding-bottom: var(--gap);
}

.pad-gap2 {
    padding: var(--gap2);
}

.v-pad-gap2 {
    padding-left: var(--gap2);
    padding-right: var(--gap2);
}

.h-pad-gap2 {
    padding-top: var(--gap2);
    padding-bottom: var(--gap2);
}

.mar-gap {
    margin: var(--gap);
}

.v-mar-gap {
    margin-left: var(--gap);
    margin-right: var(--gap);
}

.h-mar-gap {
    margin-top: var(--gap);
    margin-bottom: var(--gap);
}

.mar-gap2 {
    margin: var(--gap2);
}

.v-mar-gap2 {
    margin-left: var(--gap2);
    margin-right: var(--gap2);
}

.h-mar-gap2 {
    margin-top: var(--gap2);
    margin-bottom: var(--gap2);
}

.b-mar-gap2 {
    margin-bottom: var(--gap2);
}
