:root {
    --animation-speed: 0.2s;
    --animation-speed2: calc(var(--animation-speed) * 2);
    --animation-speed3: calc(var(--animation-speed) * 3);
    --animation-speed4: calc(var(--animation-speed) * 4);
    --animation-speed10: calc(var(--animation-speed) * 10);
    --primary-color: #ffbc52;
    --primary-lighter: #ffd699;
    --secondary-color: #47a9ff;
    --background-color: #001426;
    --background-darker: #000c17;
    --background-lighter: #001b33;
    --divider-color: #183a57;
    --disabled-color: #26343f;
    --ui-border: #183a57;
    --foreground-color: #fff5e6;
    --title-font-family: 'Alata', sans-serif;
    --body-font-family: 'Roboto', sans-serif;
    --code-font-family: 'Roboto Mono', monospace;
    --brand-blue: #47a9ff;
    --brand-yellow: #ffbc52;
    --brand-green: #1bc554;
    --brand-red: #f86262;
    --brand-pink: #f2699e;
    --brand-purple: #b469f2;
    --gap: 0.5rem;
    --gap2: calc(var(--gap) * 2);
    --gap3: calc(var(--gap) * 3);
    --gap4: calc(var(--gap) * 4);
    --gap5: calc(var(--gap) * 5);
    --gap6: calc(var(--gap) * 6);
    --bradius: 3px;
    --bradius2: calc(var(--bradius) * 2);
    --bradius3: calc(var(--bradius) * 3);
    --bradius4: calc(var(--bradius) * 4);
    --bradius5: calc(var(--bradius) * 5);
    --bthick: 1px;
    --bthick2: calc(var(--bthick) * 2);
    --bthick3: calc(var(--bthick) * 3);
    --bthick4: calc(var(--bthick) * 4);
}
