.indicator-finder-component {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.indicator-finder-component__search-results {
    flex-grow: 1;
    overflow: auto;
}

.indicator-finder-component__search-result {
}

.indicator-finder-component__search-result + .indicator-finder-component__search-result {
    margin-top: var(--gap2);
}
