<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="index.css">
    <title>Percentile</title>
</head>
<body>
    <div id="app">
        <article>
            <section>
                <h2>SLI</h2>
                <label>
                    <h3>Metric Name</h3>
                    <input type="text" v-model="metricName">
                </label>
                <label>
                    <h3>Metric Unit</h3>
                    <input type="text" v-model="metricUnit">
                </label>
                <h3>Good</h3>
                <h4>Lower Bound</h4>
                <article>
                    <section>{{ metricName }}</section>
                    <section>
                        <select v-model="lowerBound">
                            <option value="">No lower bound</option>
                            <option value="gt">&gt;</option>
                            <option value="ge">&ge;</option>
                        </select>        
                    </section>
                    <section>SLO_Lower_Bound</section>
                </article>
                <h4>Upper Bound</h4>
                <article>
                    <section>{{ metricName }}</section>
                    <section>
                        <select v-model="upperBound">
                            <option value="">No upper bound</option>
                            <option value="lt">&lt;</option>
                            <option value="le">&le;</option>
                        </select>        
                    </section>
                    <section>
                        SLO_Upper_Bound
                    </section>
                </article>
            </section>
            <section>
                <div>
                    <label>
                        <h2>SLO</h2>
                        <input type="range" :min="config.slo.min" :max="config.slo.max" :step="config.slo.step" v-model.number="slo.value">
                        {{ slo.value }}%
                    </label>
                </div>
                <div>
                    <label>
                        <h3>Window: {{ windowDays }} Days</h3>
                        <input type="range"
                            :min="config.windowDays.min"
                            :max="config.windowDays.max"
                            :step="config.windowDays.step"
                            v-model.number="windowDays">
                    </label>
                </div>
                <h3>SLO Good Bounds</h3>

                <div v-if="lowerBound">
                    <h3>Lower Threshold: {{ lowerThreshold }}</h3>
                    <input type="range" :min="min" :max="upperThreshold" v-model.number="lowerThreshold">
                </div>

                <div v-if="upperBound">
                    <h3>Upper Threshold: {{ upperThreshold }}</h3>
                    <input type="range" :min="lowerThreshold" :max="max" v-model.number="upperThreshold">
                </div>
                
                <div>
                    <h3>Good</h3>
                    <code>
                        <span v-if="lowerBound">
                            {{ lowerThreshold }} {{ boundTypeToString(lowerBound) }}
                        </span>
                        &nbsp;
                        <span> {{ metricName }} </span>
                        &nbsp;
                        <span v-if="upperBound">
                            {{ boundTypeToString(upperBound) }} {{ upperThreshold }}
                        </span>
                    </code>
                </div>
            </section>
        </article>

        <div>
            <section>
                <h2>Metric Data</h2>
                <plot-2d-component
                    :points="metricDataPoints"
                    :padding="[30, 100, 50, 110]"
                    :guides="[...thresholdGuidesY, ...meanMedianGuidesY]"
                    :x-extent="[0, metricDataPoints.length]"
                    :y-extent="[min, max]"
                    :label-render-y="unitRender"
                    axis-title-x="Index"
                    :axis-title-y="metricName"></plot-2d-component>
            </section>
        </div>

        <tabs-component v-model:selected-tab="selectedTab" :tab-names="[
                'Generator',
                'Percentile',
                'Service',
                'Analytics',
                'JSON Data',
            ]"></tabs-component>

        <div class="tab-content" v-if="selectedTab === 'Generator'">
            <article>
                <section>
                    <h3>Presets</h3>
                    <div class="button-bar">
                        <button v-for="pre in config.simulator.percentages.presets"
                            @click="percentages = [...pre.values]">{{ pre.name }}
                        </button>
                    </div>
                </section>
            </article>
            <article>
                <section>
                    <h1>Data distribution</h1>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    Range
                                    <button @click="removeRange">-</button>                
                                    <button @click="addRange">+</button>
                                </th>
                                <th></th>
                                <th>Quick Set</th>
                                <th colspan="2">Probability</th>
                            </tr>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th></th>
                                <th>
                                    <button v-for="pre of config.slider.presets"
                                        @click="setAllPercentagesTo(pre)">{{ pre }}
                                    </button>
                                </th>
                                <th>Absolute</th>
                                <th>Relative</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(b, i) of buckets">
                                <td>{{ toFixed(b.min) }}</td>
                                <td>{{ toFixed(b.max) }}</td>
                                <td>
                                    <div class="freq-indicator" :style="percentageIndicatorStyle(i)"></div>
                                </td>
                                <td>
                                    <input type="range"
                                        v-model.number="percentages[i]"
                                        :min="config.slider.min"
                                        :max="config.slider.max"
                                        :step="config.slider.step">
                                </td>
                                <td>
                                    {{ toFixed(percentages[i], 2) }}
                                </td>
                                <td :title="`Roughly ${toFixed(b.probability, 2)}% of the generated data points will be between ${toFixed(b.min)} and ${toFixed(b.max)}`">
                                    {{  toFixed(b.probability, 2) }}%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <plot-2d-component
                        width="600"
                        height="400"
                        :points="probabilityPoints"
                        :padding="[30, 35, 50, 90]"
                        :guides="probabilityGuides"
                        :x-extent="[min, max]"
                        :y-extent="[0, 100]"
                        :label-render-x="unitRender"
                        :label-render-y="percentRender"
                        :axis-title-x="metricName"
                        axis-title-y="Relative probability"></plot-2d-component>
                    <h4>Expected Shape of Data Distribution</h4>
                    <plot-2d-component
                        width="600"
                        height="400"
                        :points="distributionPoints"
                        :padding="[30, 55, 50, 90]"
                        :guides="thresholdGuidesY"
                        :x-extent="[0, dataCount]"
                        :y-extent="[min, max]"
                        :label-render-y="unitRender"
                        axis-title-x="Sorted Data Index"
                        :axis-title-y="metricName"></plot-2d-component>
                    </section>
                <section>
                    <h1>Count</h1>
                    <p>
                        Window: {{ windowDays }} days
                    </p>
                    <div>
                        <label>
                            <h3>Data Points Per Day: {{ dataCountPerDay }}</h3>
                            <input type="range"
                                :min="config.simulator.dataCountPerDay.min"
                                :max="config.simulator.dataCountPerDay.max"
                                :step="config.simulator.dataCountPerDay.step"
                                v-model.number="dataCountPerDay">
                        </label>
                        <p>
                            {{ windowDataCount }} data points per {{ windowDays }} days
                        </p>
                    </div>    
                    <label>
                        <h3>Window Count: {{ windowCount }} Windows</h3>
                        <input type="range"
                            :min="config.simulator.windowCount.min"
                            :max="config.simulator.windowCount.max"
                            :step="windowCount.step"
                            v-model="windowCount">
                        <p>
                            {{ dataCount }} data points in {{ windowCount }} windows
                        </p>
                    </label>
                    <label>
                        <h3>Min Value</h3>
                        <input type="number"
                            v-model.number.lazy="min"
                            :min="config.simulator.metricRange.min.min"
                            :max="config.simulator.metricRange.min.max"
                            :step="config.simulator.metricRange.min.step">
                    </label>
                    <label>
                        <h3>Max Value</h3>
                        <input type="number"
                            v-model.number.lazy="max"
                            :min="config.simulator.metricRange.max.min"
                            :max="config.simulator.metricRange.max.max"
                            :step="config.simulator.metricRange.max.step">
                    </label>
                    <label>
                        <h3>Output</h3>
                        <input type="checkbox" v-model.boolean="onlyInt"> Only integers
                    </label>        
                    <div class="button-bar">
                        <button @click="generateData">Generate Data</button>
                    </div>
                </section>
                <section>
                    <h1>Emulate an incident</h1>
                    <label>
                        <h2>Incident length {{ percL10n(incidentLengthPerc) }} Window ({{ incidentDataCount }})</h2>
                        <input type="range"
                            :min="config.incidentLengthPerc.min"
                            :max="config.incidentLengthPerc.max"
                            :step="config.incidentLengthPerc.step"
                            v-model.number="incidentLengthPerc">
        
                    </label>
                    <label>
                        <h2>Insertion Point</h2>
                        <input type="range"
                            min="0"
                            :max="dataCount"
                            v-model.number="incidentInsertionPoint">
                        at point {{ incidentInsertionPoint }}
                    </label>
        
                    <div class="button-bar">
                        <button @click="addIncident">Insert Incident</button>
                    </div>        
                </section>
            </article>

        </div>

        <div class="tab-content" v-if="selectedTab === 'Percentile'">
            <h3>Sort order</h3>
            <div>
                <label>
                    <input type="radio" id="ascending" :value="true" v-model="sortAscending" />
                    Ascending
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" id="descending" :value="false" v-model="sortAscending" />
                    Descending
                </label>
            </div>

            <h2>Sorted Points</h2>
            <plot-2d-component
                :points="sortedMetricDataPoints"
                :padding="[30, 100, 50, 90]"
                :guides="[...meanMedianGuidesY, ...thresholdGuidesY]"
                :x-extent="[0, sortedMetricDataPoints.length]"
                :y-extent="[min, max]"
                axis-title-x="Index in the sorted array"
                :label-render-y="unitRender"
                :axis-title-y="metricName"></plot-2d-component>        

            <h2>Percentiles</h2>
            <plot-2d-component
                :points="percentiles"
                :padding="[30, 70, 50, 90]"
                :guides="[...meanMedianGuidesY, ...thresholdGuidesY]"
                :x-extent="[0, 100]"
                :y-extent="[min, max]"
                axis-title-x="Percentile"
                axis-title-y="Percentile value"
                :label-render-x="nthRender"
                :label-render-y="unitRender"
                is-bar-chart></plot-2d-component>
        </div>

        <div class="tab-content" v-if="selectedTab === 'Service'">
            <h2>Accumulated Failure Counter</h2>
            <plot-2d-component
                :points="accumulatedFailure"
                :padding="[30, 30, 50, 70]"
                :x-extent="[0, accumulatedFailure.length]"
                :y-extent="[0, accumulatedFailure.at(-1)[1]]"
                axis-title-x="Valid"
                axis-title-y="Accumulated fails"></plot-2d-component>
            <h2>Service Level Status</h2>
            <plot-2d-component
                :points="slsPoints"
                :padding="[30, 100, 50, 80]"
                :guides="slsGuides"
                :x-extent="[0, slsPoints.length]"
                :y-extent="slsRange"
                :axis-title-x="'SLS of ' + windowDataCount + ' data points'"
                :label-render-y="percentRender"
                axis-title-y="SLS"></plot-2d-component>
            <h2>Burn Rate</h2>
            <plot-2d-component
                :points="burnRatePoints"
                :padding="[30, 100, 50, 80]"
                :guides="burnRateGuides"
                :x-extent="[0, burnRatePoints.length]"
                :y-extent="burnRateYExtent"
                :axis-title-x="'BR of ' + windowDataCount + ' data points'"
                :label-render-y="xRender"
                axis-title-y="Burn Rate"></plot-2d-component>
        </div>
        <div class="tab-content" v-if="selectedTab === 'Analytics'">
            <h2>Analytics</h2>
            <table>
                <thead>
                    <th></th>
                    <th>Value</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr>
                        <th>Data Count</th>
                        <td>{{ analytics.count }}</td>
                        <td>Number of elements in the dataset</td>
                    </tr>
                    <tr>
                        <th>Min {{ metricName }}</th>
                        <td>{{ analytics.min }}</td>
                        <td>Minimum number in the dataset</td>
                    </tr>
                    <tr>
                        <th>Max {{ metricName }}</th>
                        <td>{{ analytics.max }}</td>
                        <td>Maximum number in the dataset</td>
                    </tr>
                    <tr>
                        <th>Range</th>
                        <td>{{ analytics.range }}</td>
                        <td>Difference between the max and min in the randomly generated dataset</td>
                    </tr>
                    <tr>
                        <th>Mean {{ metricName }}</th>
                        <td>{{ analytics.mean }}</td>
                        <td>Average of all numbers in the dataset</td>
                    </tr>
                    <tr>
                        <th>Median {{ metricName }}</th>
                        <td>{{ analytics.median }}</td>
                        <td>Midpoint of the dataset</td>
                    </tr>
                    <tr v-for="(p, i) of analytics.percentiles">
                        <th>{{ p.name }} {{ metricName }}</th>
                        <td>{{ p.value }}</td>
                        <td>Value at index {{ p.index }} out of {{ analytics.count }}</td>
                    </tr>
                    <tr>
                        <th>Good</th>
                        <td>{{ slStats.good }}</td>
                        <td>Number of good events</td>
                    </tr>
                    <tr>
                        <th>Bad</th>
                        <td>{{ slStats.bad }}</td>
                        <td>Number of bad events</td>
                    </tr>
                    <tr>
                        <th>SLS</th>
                        <td>{{toFixed((slStats.good / slStats.total) * 100)}}%</td>
                        <td>Service Level Status over the entire dataset</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-content" v-if="selectedTab === 'JSON Data'">
            <code class="json-data">
                {{ jsonData }}
            </code>
        </div>
    </div>
    <footer>
        <a href="https://github.com/alexewerlof/percentile">Source</a>
    </footer>
    <script type="module" src="index.js" async defer></script>
</body>
</html>