<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>UI Demo</title>
</head>
<body>
    <div id="app">
        <header-component>
            <div class="announcement" v-if="showAnnouncement">
                This page is just a demo of UI elements
                <button @click="showAnnouncement = false" type="button">Dismiss</button>
            </div>
        </header-component>
        <hero-component file-name="subtle-prism.svg">
            <h1>Header 1</h1>
            <h2>Header 2</h2>
            <p>Some text for the hero component that can go here and show properly</p>
        </hero-component>
        <div class="surface">
            <p>
                This is a nice surface
            </p>
        </div>
        <div class="container">
            <div class="annotated">
                <div class="annotated__full-width">
                    This part is full length
                </div>
                <div class="annotated__controls">
                    <form>
                        <fieldset>
                            <legend>Form legend</legend>
                            <div class="block">block</div>
                            <code-block-component title="Example code">
                                This is a code block
                                <label>Label</label>
                                <code>
                                    <span class="funct">funct</span>
                                    <span class="punct">(</span>
                                    <span class="exprs">"SLI"</span>
                                    <span class="punct">,</span>
                                    <span class="const">98</span>
                                    <span class="punct">)</span>
                                </code>
                            </code-block-component>
                            <div class="block info">block info</div>
                            <div class="block warning">block warning</div>
                            <div class="block error">block error</div>
                            <div class="input-group">
                                <label for="input1">Text Input</label>
                                <input type="text" id="input1" name="input1">
                            </div>
                            <div class="input-group">
                                <label for="input2">Number Input</label>
                                <input type="number" id="input2" name="input2" value="123456">
                            </div>
                            <div class="input-group">
                                <label for="input3">Search Input</label>
                                <input type="search" id="input3" name="input3" value="Synthetic Availability">
                            </div>
                            <div class="input-group">
                                <label for="input4">Input 4</label>
                                <select id="input4" name="input4">
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <label for="input5">Input 5</label>
                                <textarea id="input5" name="input5">Some longer text that may span across multiple rows.This is a text area after all.</textarea>
                            </div>
                            <fieldset>
                                <legend>Inline controls</legend>
                                <div class="input-group">
                                    <label>
                                        <input type="checkbox">
                                        Checkbox
                                    </label>
                                    <label>
                                        <input type="checkbox" checked>
                                        Checkbox
                                    </label>
                                    <label>
                                        <input type="checkbox" disabled>
                                        Checkbox disabled
                                    </label>
                                    <label>
                                        <input type="checkbox" checked disabled>
                                        Checkbox checked disabled
                                    </label>
                                </div>
                                <div class="input-group">
                                    <label>
                                        <input type="radio" name="input7"> Radio 1
                                    </label>
                                    <label>
                                        <input type="radio" name="input7" checked> Radio 2
                                    </label>
                                    <label>
                                        <input type="radio" name="input7"> Radio 3
                                    </label>
                                    <label>
                                        <input type="radio" name="input7" disabled> Radio Disabled
                                    </label>
                                </div>
                            </fieldset>
                            <div class="input-group">
                                <label for="input8">Rnage Input</label>
                                <input type="range" id="input8" name="input8">
                            </div>
                            <div class="input-group">
                                <label for="input9">Number Input</label>
                                <input type="number" id="input9" name="input9">
                            </div>
                            <div class="input-group">
                                <label for="input10">
                                    Search
                                    <div class="subtle-hint">This is an input and button pair</div>
                                </label>
                                <div class="input-button-pair">
                                    <input type="search" id="input10">
                                    <button type="submit">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <fieldset>
                        <legend>Custom Components</legend>
                        <div class="input-group">
                            <label for="inline-select">
                                This is a inline-select {{ inlineSelectValue }} (type: {{ typeof inlineSelectValue}})
                                <div class="subtle-hint">Similar to a radio group</div>
                            </label>
                            <inline-select-component v-model="inlineSelectValue" :options="inlineSelectOptions"></inline-select-component>
                        </div>
                    </fieldset>
                    <h2>buttons</h2>
                    <h3>Small</h3>
                    <div>
                        <button class="button--small">Button 1</button>
                        <button class="button--small">Button 2</button>
                        <button class="button--small">Button 3</button>
                        <button class="button--small" disabled>Disabled</button>
                    </div>
                    <h3>Regular</h3>
                    <div>
                        <button>Button 1</button>
                        <button>Button 2</button>
                        <button>Button 3</button>
                        <button disabled>Disabled</button>
                    </div>
                    <h3>Large</h3>
                    <div>
                        <button class="button--large">Button 1</button>
                        <button class="button--large">Button 2</button>
                        <button class="button--large">Button 3</button>
                        <button class="button--large" disabled>Disabled</button>
                    </div>
                    <h2>Button Bar</h2>
                    <div class="button-bar">
                        <button>Button 1</button>
                        <button>Button 2</button>
                        <button>Button 3</button>
                        <button disabled>Disabled</button>
                    </div>
                    <div class="button-bar">
                        <button class="button--cta">Button 1 CTA</button>
                        <button class="button--cta">Button 2 CTA</button>
                        <button class="button--cta">Button 3 CTA</button>
                        <button class="button--cta" disabled>Disabled CTA</button>
                    </div>
                    <div class="button-bar">
                        <button class="button--danger">Button 1 Danger</button>
                        <button class="button--danger">Button 2 Danger</button>
                        <button class="button--danger">Button 3 Danger</button>
                        <button class="button--danger" disabled>Disabled Danger</button>
                    </div>
                </div>
                <div class="annotated__help">
                    <p>
                        This page primarily exists to check the look and feel of various UI aspects and visually inspect the CSS.
                    </p>
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                    <p>
                        This is a paragraph of text.
                        <a href="#">This is a link</a>.
                        <strong>This is bold text</strong>.
                        <em>This is italic text</em>.
                        <small>This is small text</small>.
                        <mark>This is marked text</mark>.
                        <del>This is deleted text</del>.
                        <ins>This is inserted text</ins>.
                        <sub>This is subscript text</sub>.
                        <sup>This is superscript text</sup>.
                        Yeah, that's about it.
                    </p>
                    <ul>
                        <li>Unordered list item 1</li>
                        <li>Unordered list item 2</li>
                        <li>Unordered list item 3</li>
                    </ul>
                    <ol>
                        <li>Ordered list item 1</li>
                        <li>Ordered list item 2</li>
                        <li>Ordered list item 3</li>
                    </ol>
                    <hr>
                    <table>
                        <caption>Table caption</caption>
                        <thead>
                            <tr>
                                <th colspan="4">Master header</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Header 1</th>
                                <th>Header 2</th>
                                <th>Header 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Row 1</th>
                                <td>Row 1, Cell 1</td>
                                <td>Row 1, Cell 2</td>
                                <td>Row 1, Cell 3</td>
                            </tr>
                            <tr>
                                <th>Row 2</th>
                                <td>Row 2, Cell 1</td>
                                <td>Row 2, Cell 2</td>
                                <td>Row 2, Cell 3</td>
                            </tr>
                            <tr>
                                <th>Row 3</th>
                                <td>Row 3, Cell 1</td>
                                <td>Row 3, Cell 2</td>
                                <td>Row 3, Cell 3</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Footer</th>
                                <td>Footer, Cell 1</td>
                                <td>Footer, Cell 2</td>
                                <td>Footer, Cell 3</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <footer-component>
            Footer extra text
        </footer-component>
    </div>
    <script type="module" src="index.js"></script>
</body>
</html>