.annotated {
    background-color: var(--background-darker);
}

.annotated__controls {
    padding: var(--gap2);
    background-color: var(--background-color);
}

.annotated__help {
    padding: var(--gap2);
    padding-bottom: 5em;
}


@media screen and (min-width: 1000px) {
    .annotated {
        display: flex;
        justify-content: center;
    }
    
    .annotated__controls {
        flex: 1;
    }

    .annotated__help {
        flex: 1;
    }
}