.block {
    display: block;
    margin: var(--gap);
    border-style: solid;
    border-width: var(--bthick) var(--bthick) var(--bthick) var(--gap);
    background-color: rgb(from currentColor r g b / 0.09);
    border-color: currentColor;
    box-sizing: border-box;
    padding: var(--gap);
    box-shadow: 0 0 var(--gap) black;
}

.block p {
    margin-block: 0.25em 0;
}

.block.info {
    padding: var(--gap);
    color: var(--secondary-color);
}

.block.warning {
    padding: var(--gap);
    color: var(--primary-color);
}

.block.error {
    padding: var(--gap);
    color: var(--brand-red);
}

.block.code {
    padding: var(--gap);
    color: var(--brand-purple);
    overflow: auto;
    font-family: var(--code-font-family);
    position: relative; /* for the button to show properly */
}

.block.code label {
    font-family: var(--code-font-family);
}

.block.code button {
    opacity: 0.8;
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1em;
}

.block.code button:hover, .block.code button:focus {
    opacity: 1;
}
