@import url('variables.css');

/* Colors for a very simple manually annotated code highlighter */

code {
    font-family: 'Roboto Mono', monospace;
}

.block.code {
    background-color: var(--background-darker);
    padding: 1em;
    position: relative;
}

.block.code button {
    opacity: 0.5;
    font-size: 1.5em;
    padding: 0.2em;
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.block.code button:hover, .block.code button:focus {
    opacity: 1;
}

code label {
    -webkit-user-select: auto; /* Added to support Safari and Safari on iOS */
    user-select: auto;
}

/* functions */
code .funct {
    color: var(--brand-red);
}

/* punctuations */
code .punct {
    color: var(--brand-pink);
}

/* expressions */
code .exprs {
    color: var(--secondary-color);
}

/* constants */
code .const {
    color: var(--brand-purple);
}

/* invisible text that is used to annotate the code for when it is copied*/
.invis {
    color: transparent;
    font-size: xx-small;
}

/* a simple container for a fractional formula in plain HTML instead of MathML */
.formula {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

/* takes the whole height */
.formula__whole {
    align-self: center;
}

.formula__break {
    flex-basis: 100%;
    height: 0;
}

/* a two cell column */
.formula__fraction {
    display: flex;
    flex-direction: column;
}

/* takes the top half */
.formula__fraction--top {
    text-align: center;
    border-bottom: 1px solid var(--brand-pink);
    padding-bottom: 0.2em;
}

/* takes the bottom half */
.formula__fraction--bottom {
    text-align: center;
    padding-top: 0.1em;
}

math {
    font-family: inherit;
    font-size: 1.2em;
    display: inline-block;
    width: 100%; /* or any specific width */
    overflow-wrap: break-word;
    word-wrap: break-word;
}

mfrac {
    font-size: 1.3em;
}

mn {
    color: var(--brand-purple);
}

mo {
    color: var(--brand-pink);
}

ms, mi {
    color: var(--secondary-color);
}

mtd {
    text-align: left;
}