/* Colors for a very simple manually annotated code highlighter */

code {
    font-family: 'Roboto Mono', monospace;
}

.code.block {
    background-color: var(--background-darker);
    padding: 1em;
    position: relative;
    overflow: auto;
}

.block.code button {
    opacity: 0.5;
    font-size: 1.5em;
    padding: 0.2em;
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.block.code button:hover, .block.code button:focus {
    opacity: 1;
}

code label {
    -webkit-user-select: auto; /* Added to support Safari and Safari on iOS */
    user-select: auto;
}

/* functions */
code .funct {
    color: var(--brand-red);
}

/* punctuations */
code .punct {
    color: var(--brand-pink);
}

/* expressions */
code .exprs {
    color: var(--secondary-color);
    word-break: break-word;
}

/* constants */
code .const {
    color: var(--brand-purple);
}

math {
    font-family: inherit;
    font-size: 1em;
    display: inline-block;
    width: 100%; /* or any specific width */
    overflow-wrap: break-word;
    word-wrap: break-word;
}

mfrac {
    font-size: 1.3em;
}

mn {
    color: var(--brand-purple);
}

mo {
    color: var(--brand-pink);
}

ms, mi {
    color: var(--secondary-color);
}

ms {
    font-style: italic;
}

mtd {
    text-align: left;
}