@media screen and (min-width: 768px) {
    html, body {
        font-size: 22px;
    }
}

ul.benefit-list {
    list-style: '✓';
}

.benefit-list li {
    padding: 0.3em;
}

/* Keyframes for the subtle floating animation for the app logo */
@keyframes subtle-float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.25em); /* Adjust the float height as desired */
    }
}

.top-logo {
    padding-top: 3em;
    text-align: center;

    & img {
        /* Apply the continuous floating animation */
        animation: subtle-float var(--animation-speed10) ease-in-out infinite;
        max-width: 50vw;

        &:hover {
            animation-play-state: paused;
        }
    }
}

.check-list {
    list-style-type: '\2713';
    padding-left: 0.5em;
}

.check-list li {
    padding-left: 0.3em;
}

.apps-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap2);
}

.app-item {
    text-decoration: none;

    .app-item__logo {
        width: 100%;
        max-width: 30vw;
    }

    &:hover .app-item__logo {
        filter: brightness(135%);
    }

    .app-item__title {
        color: var(--primary-color);
    }
}

.price-button {
    width: 100%;
}

.preferred-price {
    border-color: var(--primary-color);
}
