<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J0S6RM2D7G"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());gtag('config', 'G-J0S6RM2D7G');
    </script>

    <meta charset="UTF-8">
    <meta name="theme-color" content="#FFBC52">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <meta name="description" content="A simple Service Level Calculator that complies with Google SRE books.">
    <meta property="og:title" content="Service Level Calculator">
    <meta property="og:description" content="A simple Service Level Calculator that complies with Google SRE books.">
    <meta property="og:image" content="https://slc.alexewerlof.com/img/icon.png">
    <meta property="og:url" content="https://slc.alexewerlof.com">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/svg" href="img/icon.svg">
    <link rel="manifest" href="manifest.json">
    <title>Service Level Calculator</title>
</head>

<body>
    <noscript>
        <p>This web application requires JavaScript to work.</p>
    </noscript>

    <div id="app" v-cloak>
        <transition>
            <div class="announcement" v-if="showAnnouncement">
                <ext-link href="https://blog.alexewerlof.com/p/slc">Read the announcement about this app</ext-link>.
                <button @click="showAnnouncement = false" type="button">Dismiss</button>
            </div>
        </transition>
        <header-component></header-component>

        <div class="container">
            <article>
                <!------------------------ SLI ------------------------>
                <section class="surface">
                    <h2 id="sli-title">
                        SLI
                        <help-component>
                            <p>
                                In simple words <ext-link href="https://blog.alexewerlof.com/p/sli">Service Level Indicators
                                </ext-link> are the metrics that represent how the reliability
                                is perceived by the consumers of the service. They are normalized to be a number between
                                0 and 100 using this formula:
                            </p>
                            <math>
                                <mrow>
                                    <mi>SLI</mi>
                                    <mo>=</mo>
                                    <mfrac>
                                        <mrow>
                                            <mi>Good</mi>
                                        </mrow>
                                        <mrow>
                                            <mi>Valid</mi>
                                        </mrow>
                                    </mfrac>
                                    <mrow>
                                        <mo>&times;</mo>
                                        <mn>100</mn>
                                    </mrow>
                                </mrow>
                            </math>
                            <p>
                                You can read more about the definition of
                                <ext-link href="https://blog.alexewerlof.com/p/sli-good">Good</ext-link>
                                and
                                <ext-link href="https://blog.alexewerlof.com/p/valid-vs-total">Valid</ext-link>
                                .
                            </p>
                            <p>
                                Common SLIs include latency, availability, yield, durability, correctness, etc.
                            </p>
                        </help-component>
                    </h2>
                    <div class="info block">
                        🎉Tip: <ext-link href="templates/index.html">Use Templates</ext-link>
                    </div>
                    
                    <indicator-view-component :indicator="indicator"></indicator-view-component>
                </section>

                <!------------------------ SLO ------------------------>
                <section class="surface">
                    
                    <h2 id="slo-title">
                        SLO
                        <help-component>
                            <p>
                                Service Level Objective (SLO) is the target percentage of
                                good {{ indicator.eventUnitNorm }}
                                out of total {{ indicator.eventUnitNorm }}
                                in {{ objective.window }}.
                            </p>
                            <p>
                                Using the two sliders below you can fine tune the SLO to your needs.
                                The first slider is for the integer part of the percentage ({{ percL10n(objective.targetInt) }}).
                                The second slider is for the fractional part of the percentage ({{ percL10n(objective.targetFrac) }}).
                            </p>
                            <table>
                                <caption>Typical SLO targets</caption>
                                <thead>
                                    <tr>
                                        <th>Informal Name</th>
                                        <th>SLO Target</th>
                                        <th aria-label="try button"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="p in config.slo.presets">
                                        <td>{{ p.title }}</td>
                                        <td>{{percL10n(p.slo)}}</td>
                                        <td><button type="button" @click="objective.target = p.slo">Try!</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </help-component>
                    </h2>

                    <objective-view-component :objective="objective"></objective-view-component>

                </section>

                <!------------------------ Alert ------------------------>
                <section class="surface">
                    <h2 id="alert-title">
                        Alerting
                        <help-component>
                            <p>
                                What is the point of setting SLI/SLO if we are not going to take application
                                when the SLO is violated?
                            </p>
                            <p>
                                Alerting on error budgets enable us to be on top of the reliability of our system.
                                When using service levels, the alert triggers on the rate of consuming the error budget.
                            </p>
                            <p>
                                When setting an alert, the burn rate decides how quickly the alert reacts
                                to errors.
                            </p>
                            <ul>
                                <li>
                                    Too fast and it will lead to false positives (alerting unnecessarily)
                                    and alert fatigue (too many alerts).
                                </li>
                                <li>
                                    Too slow and the error burget will be burned before you know it.
                                </li>
                            </ul>
                            <p>
                                Google SRE Workbook goes through
                                <ext-link href="https://sre.google/workbook/alerting-on-slos/">
                                    6 alerting strategies based on SLOs
                                </ext-link>.
                            </p>
                        </help-component>
                    </h2>
                    <alert-view-component :alert="alert"></alert-view-component>
                </section>
            </article>
        </div>

        <section v-if="shareUrl">
            <h1 id="share-title">Share
                <help-component
                >
                    <p>This app completely runs in the browser and has no backend.</p>
                    <p>So all you have to do is to copy the following link. Whenever that link is clicked, it opens the app in the exact state when you copied it.</p>
                </help-component>
            </h1>
            <div class="code block">
                <code><a id="share-url" :href="shareUrl" style="overflow-wrap: break-word;">{{ shareUrl }}</a></code>
                <button @click="copy('share-url', 'share-url')" type="button" title="Copy to clipboard">⎘</button>
            </div>
        </section>

        <!-- Toast Notification -->
        <div v-if="toastCaption" class="toast" @animationend="this.toastCaption = ''">{{ toastCaption }}</div>

        <cookie-popup-component></cookie-popup-component>

        <footer-component></footer-component>
        <feedback-blob-component prefill="SLC"></feedback-blob-component>
    </div>

    <script type="module" src="index.js" defer async></script>
</body>

</html>