@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto&display=swap');

[v-cloak] {
    display: none;
}

body {
    background-color: #001426;
    color: #FFF5E6;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

div#app {
    max-width: 600px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 1em;
}

a, a:hover, a:active {
    color: inherit;
}

input[type=range] {
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Alata', sans-serif;
    color: #FFBC52;
}

header {
    color: #001426;
    background-color: #47A9FF;
    text-align: center;
    font-size: 1.2em;
}

time {
    font-style: italic;
}

header h1 {
    color: inherit;
    margin: 0;
    padding: 0.5em;
}

footer {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #FFBC52;
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 2em;
}