html, body {
    font-size: 22px;
}

ul.benefit-list {
    list-style: '✓';
}

.benefit-list li {
    padding: 0.3em;
}

/* Keyframes for the subtle floating animation for the app logo */
@keyframes subtle-float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.25em); /* Adjust the float height as desired */
    }
}

.app-logo {
    padding-top: 3em;
    text-align: center;

    & img {
        /* Apply the continuous floating animation */
        animation: subtle-float var(--animation-speed10) ease-in-out infinite;
        /* Smooth transition for hover effects */
        transition: transform var(--animation-speed) cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    &:hover {
        /* Pause the floating animation on hover to let the hover transform take full control */
        animation-play-state: paused;
        /* Scale up and slightly rotate on hover for a playful effect */
        transform: scale(0.9) rotate(1turn);
        transition: transform var(--animation-speed) ease-in-out;
    }
}

.star {
    color: var(--brand-red);
}

.star::before {
    content: '*';
}

.check-list {
    list-style-type: '\2713';
    padding-left: 0.5em;
}

.check-list li {
    padding-left: 0.3em;
}

.apps-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap2);
}

.app-item {
    text-decoration: none;
}

.app-item__logo {
    width: 100%;
}
