<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Service Level Calculator</title>
</head>
<body>
    <header>
        <h1>Service Level Calculator</h1>
    </header>
    <div id="app" v-cloak>
        <h1>SLI</h1>
        <h2>Type</h2>
        <label>
            <input type="radio" name="sliType" checked>
            Event
        </label>
        <label>
            <input type="radio" name="sliType">
            Time
        </label>
        <label>
            <h2>Event unit</h2>
            <input type="text" v-model="sli.eventUnit">
        </label>
        <label>
            <h2>Good {{sli.eventUnit}}</h2>
            <input type="text" v-model="sli.good">
        </label>
        <label>
            <h2>Valid {{sli.eventUnit}}</h2>
            <input type="text" v-model="sli.valid">
        </label>
    
        <div v-show="sli.good">
            <h2>Formula</h2>
            <code>
                SLI = ({{sli.good}}) / ({{sli.valid}}) * 100
            </code>
        </div>

        <h1>SLO:
            <label for="sli-int-slider">
                {{ slo.int }}
            </label>.<label for="sli-frac-slider">
                {{ slo.frac }}
            </label>%
        </h1>
        
        <input type="range" min="0" max="99" v-model="slo.int" id="sli-int-slider">
        <input type="range" min="0" :max="slo.fracMax" v-model="slo.frac" id="sli-frac-slider">

        <h2>Compliance Period: {{ secondsToTimePeriod(windowSec) }}</h2>
        <p>
            <time>{{windowSec}} sec</time>
        </p>

        <label v-for="windowUnit in windowUnits" :key="windowUnit.title">
            <input type="radio" name="windowUnit" :value="windowUnit" v-model="slo.windowUnit" @click="slo.windowMult = 1">
            {{ windowUnit.title }}
        </label>

        <input type="range" min="1" :max="slo.windowUnit.max" v-model="slo.windowMult">
    
        <h2>Error budget</h2>
        <p><time>{{ secondsToTimePeriod(downTime) }}</time></p>

        <h2>Example</h2>
        <label>
            <h3>{{sli.good}} #{{sli.eventUnit}} in <time>{{secondsToTimePeriod(windowSec)}}</time></h3>
            <input type="number" v-model="sli.goodExample">
        </label>
        <p>
            To hit a slo of <em>{{sloVal}}%</em> for
            <em>{{sli.goodExample}}</em> {{sli.eventUnit}} where <code>{{sli.good}}</code>
            in <time>{{secondsToTimePeriod(windowSec)}}</time>,
            you need to have a total of <em>{{totalTarget}}</em> valid {{sli.eventUnit}}.
            <br/>
            This allows a maximum of <em>{{totalTarget - sli.goodExample}}</em> invalid {{sli.eventUnit}}
            in this period.
        </p>
        <label>
            <h3>{{sli.valid}} #{{sli.eventUnit}} in <time>{{secondsToTimePeriod(windowSec)}}</time></h3>
            <input type="number" v-model="sli.validExample">
        </label>
        <p>
            To hit a slo of <em>{{sloVal}}%</em> for
            <em>{{sli.validExample}}</em> <code>{{sli.valid}}</code> {{sli.eventUnit}}
            in <time>{{secondsToTimePeriod(windowSec)}}</time>,
            you need to have a total of <em>{{goodTarget}}</em> good {{sli.eventUnit}}.
            <br/>
            This allows a maximum of <em>{{sli.validExample - goodTarget}}</em> bad {{sli.eventUnit}}
            in this period.
        </p>

        <h3>Current</h3>
        <p>
            The way it stands, your SLI is {{exampleTarget}}%.
            (your target is {{sloVal}}%)
        </p>

    </div>

    <footer>Copyright (C) 2023 <a href="https://alexewerlof.com">Alex Ewerlof</a> | <a href="https://github.com/userpixel/slo">Github</a> | <a href="https://vuejs.org/">Uses Vue</a> | <a href="https://blog.alexewerlof.com/p/why-bother-with-sli-and-slo">Why bother?</a></footer>

    <script type="module" src="index.js"></script>
</body>
</html>