@import url('variables.css');
@import url('vue-specific.css');

input[type=range] {
    --webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1em;
    outline: none;
    margin: 1.42em auto;
    cursor: ew-resize;
}

input[type=range]::-webkit-slider-runnable-track {
    border: 1px solid transparent;
    transition: border-color var(--animation-speed) ease-in-out;
    background-color: var(--background-lighter);
    height: 100%;
}

input[type=range]:hover::-webkit-slider-runnable-track,
input[type=range]:focus::-webkit-slider-runnable-track {
    border-color: var(--secondary-color);
}

input[type=range]::-webkit-slider-thumb {
    --webkit-appearance: none;
    appearance: none;
    width: 0.2em;
    height: 100%;
    background-color: var(--secondary-color);
    transition: width var(--animation-speed) ease-in-out
}

input[type=range]:focus::-webkit-slider-thumb {
    margin-top: -0.5em;
    height: 200%;
}

input[type=search], input[type=text], input[type=number], select, textarea {
    padding: 1em;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid transparent;
    border-left-color: var(--secondary-color);
    background-color: var(--background-lighter);
    color: inherit;
    width: 100%;
    box-sizing: border-box;
    transition: background-color var(--animation-speed) ease-in-out,
                border-color var(--animation-speed) ease-in-out;
}

input[type=search]:hover, input[type=text]:hover, input[type=number]:hover, select:hover, textarea:hover {
    border-color: var(--secondary-color);
}


input[type=search]:focus, input[type=text]:focus, input[type=number]:focus, select:focus, textarea:focus {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

input[type=search]:focus-visible, [type=text]:focus-visible, input[type=number]:focus-visible, select:focus-visible, textarea:focus-visible {
    outline: none;
}

input[type=radio] {
    --webkit-appearance: none;
    --moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    background-color: var(--background-lighter);
    transition: background-color var(--animation-speed) ease-in-out;
}

input[type=radio]:checked {
    background-color: var(--secondary-color);
}

textarea {
    resize: vertical;
}

.button-bar {
    display: flex;
    justify-content: left;
    margin: 1em 0;
}

.button-bar button + button {
    margin-left: 0.5em;
}

button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 1px solid currentColor;
    border-radius: 0.3em;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-lighter);
}

button.large, .button-bar button {
    padding: 0.7em 1.4em;
}

a, a:hover, a:active {
    color: inherit;
}

label {
    -webkit-user-select: none; /* Added to support Safari and Safari on iOS */
    user-select: none;
    cursor: pointer;
}

label.spaced + label.spaced {
    margin-left: 0.2em;
}