.container {
    max-width: 1500px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.sidebar {
    display: block;
    border-right: 1px solid var(--divider-color);
    width: 280px;
    padding: var(--gap);
    flex-shrink: 0;
}

.sidebar header {
    text-align: left;
}

.sidebar nav ul {
    padding: 0;
    padding-left: 0.5em;
}

.sidebar nav li {
    list-style: none;
}

.main-container .main-content {
    flex-grow: 1; /* Allow the main content to grow and take up remaining space */
    padding: var(--gap);
    overflow: auto; /* Ensure content doesn't overflow */
}