<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J0S6RM2D7G"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());gtag('config', 'G-J0S6RM2D7G');
    </script>

    <meta charset="UTF-8">
    <meta name="theme-color" content="#FFBC52">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <meta name="description" content="A simple Service Level Calculator that complies with Google SRE books.">
    <meta property="og:title" content="Service Level Calculator">
    <meta property="og:description" content="A simple Service Level Calculator that complies with Google SRE books.">
    <meta property="og:image" content="https://slc.alexewerlof.com/img/icon.png">
    <meta property="og:url" content="https://slc.alexewerlof.com">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/svg" href="img/icon.svg">
    <link rel="manifest" href="../manifest.json">
    <title>Service Level Calculator</title>
</head>

<body>
    <noscript>
        <p>This web application requires JavaScript to work.</p>
    </noscript>

    <div id="app" v-cloak>
        <header>
            <transition>
                <div class="announcement" v-if="showAnnouncement">
                    <ext-link href="https://blog.alexewerlof.com/p/slc">Read the announcement about this app</ext-link>.
                    <button @click="showAnnouncement = false" type="button">Dismiss</button>
                </div>
            </transition>
            <a href="/">
                <h1>
                    <img src="img/icon.svg" alt="Service Level Calculator Logo" class="logo" />
                    Service Level Calculator
                </h1>
            </a>
        </header>

        <div class="block">
            <p>🎉Tip: <ext-link href="templates/index.html">Use Templates</ext-link></p>
        </div>

        <indicator-view
            :indicator="indicator"></indicator-view>

    <!-- Toast Notification -->
    <div v-if="toastCaption" class="toast" @animationend="this.toastCaption = ''">{{ toastCaption }}</div>

    <!-- Cookie popup -->
    <dialog id="cookie-banner" class="popup" :open="showCookiePopup">
        <p>
            This site uses cookies from Google to deliver its services and to analyze traffic.
            Information about your use of this site is shared with Google. By using this site, you agree to its use of cookies.
        </p>
        <p>
            Tip:
            If you want to disable Google Analytics <em>on all sites</em>, you can use 
            <ext-link href="https://tools.google.com/dlpage/gaoptout">
                Google's official workaround</ext-link>.
        </p>
        <ext-link href="https://policies.google.com/technologies/cookies">
            Learn More</ext-link>
        &nbsp;
        <button type="button" @click="hideCookiePopup">Got it</button>
    </dialog>    

    <footer-component></footer-component>
    </div>
    <script type="module" src="next.js"></script>
</body>
</html>