.toast {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.8em;
    border-radius: 2em;
    animation: slideUpThenDisappear 2s forwards;
    box-shadow: 0 0 0.5em 0 var(--background-color);
    -webkit-user-select: none;
    user-select: none;
}

@keyframes slideUpThenDisappear {
    0% {
        bottom: -50vh;
        opacity: 1;
    }
    20% {
        bottom: 10vh;
        opacity: 1;
    }
    90% {
        bottom: 10vh;
        opacity: 1;
    }
    100% {
        bottom: 5vh;
        opacity: 0;
    }
}