:root {
    --animation-speed: 0.2s;
    --primary-color: #FFBC52;
    --primary-lighter: #FFD699;
    --secondary-color: #47A9FF;
    --background-color: #001426;
    --background-darker: #000C17;
    --background-lighter: #001B33;
    --divider-color: #374b5d;
    --ui-border: #183a57;
    --foreground-color: #FFF5E6;
    --title-font-family: 'Alata', sans-serif;
    --body-font-family: 'Roboto', sans-serif;
    --brand-green: #1BC554;
    --brand-red: #F86262;
    --brand-pink: #F2699E;
    --brand-purple: #b469f2;
    --gap: 0.5rem;
    --gap2: 1rem;
    --gap3: 1.5rem;
    --bradius: 0.3rem;
    --bthick: 1px;
}