<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="index.css">
    <title>Layout demo</title>
</head>
<body>
    <div id="app">
        <header-component></header-component>
        <div class="mozaic mozaic--gap2">
            <div class="mozaic__tile mozaic__tile--whole"><h2>12</h2></div>
            <div class="mozaic__tile mozaic__tile">mozaic__tile</div>
            <div class="mozaic__tile mozaic__tile">mozaic__tile</div>
            <div class="mozaic__tile mozaic__tile">mozaic__tile</div>
            <div class="mozaic__tile mozaic__tile">mozaic__tile</div>
            <div class="mozaic__tile mozaic__tile">mozaic__tile</div>
            <div class="mozaic__tile mozaic__tile">mozaic__tile</div>
            <div class="mozaic__tile mozaic__tile">mozaic__tile</div>
            <div class="mozaic__tile mozaic__tile">mozaic__tile</div>
            <div class="mozaic__tile mozaic__tile">mozaic__tile</div>
            <div class="mozaic__tile mozaic__tile">mozaic__tile</div>
            <div class="mozaic__tile mozaic__tile">mozaic__tile</div>
            <div class="mozaic__tile mozaic__tile">mozaic__tile</div>
            
            <div class="mozaic__tile mozaic__tile--whole"><h2>6</h2></div>
            <div class="mozaic__tile mozaic__tile--2c">mozaic__tile--2c</div>
            <div class="mozaic__tile mozaic__tile--2c">mozaic__tile--2c</div>
            <div class="mozaic__tile mozaic__tile--2c">mozaic__tile--2c</div>
            <div class="mozaic__tile mozaic__tile--2c">mozaic__tile--2c</div>
            <div class="mozaic__tile mozaic__tile--2c">mozaic__tile--2c</div>
            <div class="mozaic__tile mozaic__tile--2c">mozaic__tile--2c</div>
            
            <div class="mozaic__tile mozaic__tile--whole"><h2>Quarter</h2></div>
            <div class="mozaic__tile mozaic__tile--3c">mozaic__tile--3c</div>
            <div class="mozaic__tile mozaic__tile--3c">mozaic__tile--3c</div>
            <div class="mozaic__tile mozaic__tile--3c">mozaic__tile--3c</div>
            <div class="mozaic__tile mozaic__tile--3c">mozaic__tile--3c</div>
            
            <div class="mozaic__tile mozaic__tile--whole"><h2>Third</h2></div>
            <div class="mozaic__tile mozaic__tile--4c">mozaic__tile--4c</div>
            <div class="mozaic__tile mozaic__tile--4c">mozaic__tile--4c</div>
            <div class="mozaic__tile mozaic__tile--4c">mozaic__tile--4c</div>
            
            <div class="mozaic__tile mozaic__tile--whole"><h2>Half</h2></div>
            <div class="mozaic__tile mozaic__tile--6c">mozaic__tile--6c</div>
            <div class="mozaic__tile mozaic__tile--6c">mozaic__tile--6c</div>

            <div class="mozaic__tile mozaic__tile--whole"><h2>Complement</h2></div>
            <div class="mozaic__tile mozaic__tile--1c">mozaic__tile--1c</div>
            <div class="mozaic__tile mozaic__tile--11c">mozaic__tile--11c</div>
            <div class="mozaic__tile mozaic__tile--2c">mozaic__tile--2c</div>
            <div class="mozaic__tile mozaic__tile--10c">mozaic__tile--10c</div>
            <div class="mozaic__tile mozaic__tile--3c">mozaic__tile--3c</div>
            <div class="mozaic__tile mozaic__tile--9c">mozaic__tile--9c</div>
            <div class="mozaic__tile mozaic__tile--4c">mozaic__tile--4c</div>
            <div class="mozaic__tile mozaic__tile--8c">mozaic__tile--8c</div>
            <div class="mozaic__tile mozaic__tile--5c">mozaic__tile--5c</div>
            <div class="mozaic__tile mozaic__tile--7c">mozaic__tile--7c</div>
            <div class="mozaic__tile mozaic__tile--6c">mozaic__tile--6c</div>
            <div class="mozaic__tile mozaic__tile--6c">mozaic__tile--6c</div>
            <div class="mozaic__tile mozaic__tile--7c">mozaic__tile--7c</div>
            <div class="mozaic__tile mozaic__tile--5c">mozaic__tile--5c</div>
            <div class="mozaic__tile mozaic__tile--8c">mozaic__tile--8c</div>
            <div class="mozaic__tile mozaic__tile--4c">mozaic__tile--4c</div>
            <div class="mozaic__tile mozaic__tile--9c">mozaic__tile--9c</div>
            <div class="mozaic__tile mozaic__tile--3c">mozaic__tile--3c</div>
            <div class="mozaic__tile mozaic__tile--10c">mozaic__tile--10c</div>
            <div class="mozaic__tile mozaic__tile--2c">mozaic__tile--2c</div>
            <div class="mozaic__tile mozaic__tile--11c">mozaic__tile--11c</div>
            <div class="mozaic__tile mozaic__tile--1c">mozaic__tile--1c</div>
        </div>
        <footer-component></footer-component>
    </div>
    <script type="module" src="index.js" defer async></script>
</body>
</html>