<div class="annotated">
    <div class="annotated__controls">
        <h2>Condition</h2>
        <select :v-model="condition.type">
            <optgroup label="Boolean" v-if="!condition.metric.isNumeric">
                <option :value="{ eq: true }">
                    {{ condition.metric.displayName }} == TRUE
                </option>
                <option :value="{ eq: false }">
                    {{ condition.metric.displayName }} == FALSE
                </option>
            </optgroup>
            <optgroup label="Point" v-if="condition.metric.isNumeric">
                <option :value="{ eq: '$VAL' }">
                    {{ condition.metric.displayName }} == $VAL
                </option>
                <option :value="{ neq: '$VAL' }">
                    {{ condition.metric.displayName }} != $VAL
                </option>
            </optgroup>
            <optgroup label="Relative" v-if="condition.metric.isNumeric">
                <option :value="{ lt: '$UT' }">
                    {{ condition.metric.displayName }} &lt; $UT
                </option>
                <option :value="{ le: '$UT' }">
                    {{ condition.metric.displayName }} &le; $UT
                </option>
                <option :value="{ gt: '$LT' }">
                    $LT &lt; {{ condition.metric.displayName }}
                </option>
                <option :value="{ le: '$LT' }">
                    $LT &le; {{ condition.metric.displayName }}
                </option>
            </optgroup>
            <optgroup label="Range" v-if="condition.metric.isNumeric">
                <option :value="{ gt: '$LT', lt: '$UT' }">
                    $LT &lt; {{ condition.metric.displayName }} &lt; $UT
                </option>
                <option :value="{ gt: '$LT', le: '$UT' }">
                    $LT &lt; {{ condition.metric.displayName }} &le; $UT
                </option>
                <option :value="{ ge: '$LT', lt: '$UT' }">
                    $LT &le; {{ condition.metric.displayName }} &lt; $UT
                </option>
                <option :value="{ ge: '$LT', le: '$UT' }">
                    $LT &le; {{ condition.metric.displayName }} &le; $UT
                </option>
            </optgroup>
        </select>
    </div>
    <div class="annotated__controls">
        <p v-if="condition.metric.isNumeric">
            <label>
                <input type="checkbox" v-mofrl="condition.isParameterized">
                Parameterized
            </label>
        </p>
    </div>
    <div class="annotated__controls">
        <h3>Indicating</h3>
        <p>
            <label>
                <input type="radio" >
                Good
            </label>
        </p>
        <p>
            <label>
                <input type="radio" >
                Bad
            </label>
        </p>
        <div class="code-block">
            {{ JSON.stringify(condition.type)}}
        </div>
    </div>
</div>