<div>

    <div class="annotated">
        <div class="annotated__controls">
            <h2>Consumer Name</h2>
        </div>
        <div class="annotated__controls">
            <input type="text" v-model="consumer.displayName">
            <h2>Description</h2>
            <textarea v-model="consumer.description"></textarea>
        </div>
        <div class="annotated__help">
            <p>
                Give this consumer a name and description to make it easier to identify.
            </p>
        </div>
    </div>

    <show-hide-component
        v-for="consumption of consumer.consumptions"
        title="Consumption"
        :name="consumption">

        <consumption-view :consumption="consumption"></consumption-view>
    </show-hide-component>

    <div class="annotated">
        <div class="annotated__controls">
            <div class="error block" v-if="consumer.consumptions.length === 0">
                <p>
                    At the moment this consumer hasn't defined any consumption.
                    Therefore it is not useful for defining a service level.
                </p>
            </div>
            <div class="button-bar">
                <button @click="consumer.addNewConsumption()">
                    {{ icon('add') }} 
                    Add New Consumption</button>
                <button class="danger" @click="consumer.remove()">
                    {{ icon('remove') }} 
                    Remove Consumer
                </button>
            </div>
        </div>
        <div class="annotated__help">
            <p>
                In simple language, a consumption is how a consumer uses a service.
                The most important aspect of a consumption is the purpose to use a system.
            </p>
        </div>
    </div>

</div>