<show-hide-component
    title="Consumption"
    :name="consumption">

    <div class="annotated">
        <div class="annotated__controls">
            <h2>Title</h2>
            <input type="text" v-model="consumption.title">
            <h2>Description</h2>
            <input type="text" v-model="consumption.description">
            <div class="button-bar">
                <button @click="consumption.consumer.removeConsumption(consumption)">Remove Consumption</button>
            </div>
        </div>
        <div class="annotated__help">
            <p>
                <name>Name</name> is a unique identifier that will come handy throuout
                the service level definition process.
                It should comply to
                <ext-link href="https://datatracker.ietf.org/doc/html/rfc1123">RFC 1123</ext-link>.
                In simple terms: it should be a string of lower-case letters, numbers and hyphens.
            </p>
        </div>
    </div>

    <div class="annotated">
        <div class="annotated__controls">
            xx
        </div>
        <div class="annotated__help">
            <p>
                The system offers
                <ext-link href="https://blog.alexewerlof.com/p/service">service</ext-link>s
                which are in turn consumed by the consumers.
            </p>
            <p>
                Examples include: APIs, web sites, app components like SDKs, authetication, etc.
            </p>
        </div>
    </div>

    <div class="annotated">
        <div class="annotated__controls">
            <h2>Consumes Services</h2>
            <div v-for="service of consumption.consumer.assessment.allServices">
                <label>
                    <input
                        type="checkbox"
                        v-model="consumption.dependencies"
                        :value="service">
                    {{ service }}
                </label>
            </div>
        </div>
        <div class="annotated__help">
            <p>
                Check all the services that are required for {{ consumption.consumer }} to
                achieve its goals for {{ consumption.title }}.
            </p>
            <p>
                If there are services that are missing, you can go back and add them to the system.
            </p>
        </div>
    </div>

    <service-view v-for="service of consumption.services" :service="service"></service-view>
</show-hide-component>