<div>
    <div class="annotated">
        <div class="annotated__controls">
            <div v-if="dependency.failures.length === 0" class="error block">
                <p>
                    There are no failures associated with this particular dependency.
                    Service levels tie to risks which in turn tie to failures.
                </p>
                <p>
                    Please specify a failure.
                </p>
            </div>
            <div class="button-bar">
                <button @click="dependency.addNewFailure()">Add New Failure</button>
            </div>
        </div>
        <div class="annotated__help">
            What could go wrong when {{ dependency.consumption.consumer.displayName }}
            tries to {{ dependency.consumption.displayName }}
            using the {{ dependency.service.displayName }}
            provided by {{ dependency.service.system.displayName }}?
        </div>
    </div>

    <show-hide-component
        v-for="failure of dependency.failures"
        title="Failure"
        :name="failure">
        <failure-view :failure="failure"></failure-view>
    </show-hide-component>
</div>