<show-hide-component title="Failure" :name="failure">
    <div class="annotated">
        <div class="annotated__controls">
            <h2>Symptom</h2>
            <input type="text" v-model="failure.symptom">
        </div>
        <div class="annotated__help">
            How would the consumer know that something is broken?
            Service Levels are set at the boundaries between the teams.
            What goes on inside the team is not the consumers' business.
            We need to distinguish between root cause and symptoms.
            The root cause is often happenning in the {{ failure.dependency.service }}
            whereas the symptom is what the {{ failure.dependency.consumption.consumer }} sees.
        </div>
    </div>
    
    <div class="annotated">
        <div class="annotated__controls">
            <h2>Consequence</h2>
            <input type="text" v-model="failure.consequence">
        </div>
        <div class="annotated__help">
            How would the consumer know that something is broken?
            Service Levels are set at the boundaries between the teams.
            What goes on inside the team is not the consumers' business.
        </div>
    </div>

    <div class="annotated">
        <div class="annotated__controls">
            <h2>Impact</h2>
            <input type="text" v-model="failure.impact">
        </div>
        <div class="annotated__help">
            What is the business impact of the this failure happenning?
            While the consequences mostly affect the 
            {{ failure.dependency.consumption.consumer }},
            the impact is felt by the business in terms of revenue, reputation, and legal compliance.
        </div>
    </div>
</show-hide-component>