<div>

    <div class="annotated">
        <div class="annotated__controls">
            <h3>
                <label for="sli-title-input">Title</label>
            </h3>
            <input id="sli-title-input" type="text" v-model="title" :placeholder="config.title.placeholder">

            <h3>
                <label for="sli-description-input">Description</label>
            </h3>
            <textarea
                id="sli-description-input"
                rows="2"
                type="text"
                v-model="description"
                :placeholder="config.description.placeholder"></textarea>
        </div>
        <div class="annotated__help">
            <p>
                In simple words <ext-link href="https://blog.alexewerlof.com/p/sli">Service Level Indicators
                </ext-link> are the metrics that represent how the reliability
                is perceived by the consumers of the service. They are normalized to be a number between
                0 and 100 using this formula:
            </p>
            <math>
                <mrow>
                    <mi>SLI</mi>
                    <mo>=</mo>
                    <mfrac>
                        <mrow>
                            <mi>Good</mi>
                        </mrow>
                        <mrow>
                            <mi>Valid</mi>
                        </mrow>
                    </mfrac>
                    <mrow>
                        <mo>&times;</mo>
                        <mn>100</mn>
                    </mrow>
                </mrow>
            </math>
            <p>
                You can read more about the definition of
                <ext-link href="https://blog.alexewerlof.com/p/sli-good">Good</ext-link>
                and
                <ext-link href="https://blog.alexewerlof.com/p/valid-vs-total">Valid</ext-link>
                .
            </p>
            <p>
                Common SLIs include latency, availability, yield, durability, correctness, etc.
            </p>
        </div>
    </div>
    
    <div class="annotated">
        <div class="annotated__controls">
            <h2>Type</h2>
            <div class="block">
                <p>
                    <label>
                        <input
                            type="radio"
                            v-model="indicator.isTimeBased"
                            :value="false">
                        Event-Based
                    </label>
                </p>
                <p>
                    <label>
                        <input
                            type="radio"
                            v-model="indicator.isTimeBased"
                            :value="true">
                        Time-Based
                    </label>
                </p>
            </div>        
        </div>
        <div class="annotated__help">
            <p>
                SLIs can either be either:
                <ext-link href="https://blog.alexewerlof.com/p/time-based-vs-event-based">
                    event-based or time-based
                </ext-link>.
            </p>
            <table>
                <caption>Comparing SLI Types</caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>Event-Based</th>
                        <th>Time-Based</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Use</th>
                        <td>When consumers perceive reliability by events</td>
                        <td>When consumers perceive reliability by time</td>
                    </tr>
                    <tr>
                        <th>Counts</th>
                        <td>Good events</td>
                        <td>Good timeslices</td>
                    </tr>
                    <tr>
                        <th>Accuracy</th>
                        <td>More accurately adjust to the amount of load</td>
                        <td>More forgiving towards the negative impact of failed events</td>
                    </tr>
                    <tr>
                        <th>Advantage</th>
                        <td>Auto-adjusts to changes (spikes and drops) in the load</td>
                        <td>Predictable error budget</td>
                    </tr>
                    <tr>
                        <th>Formula</th>
                        <td>
                            <math>
                                <mrow>
                                    <mfrac>
                                        <mrow><mi>Good events</mi></mrow>
                                        <mrow><mi>Valid events</mi></mrow>
                                    </mfrac>
                                    <mrow><mo>×</mo><mn>100</mn></mrow>
                                </mrow>
                            </math>
                        </td>
                        <td>
                            <math>
                                <mrow>
                                    <mfrac>
                                        <mrow><mi>Good timeslices</mi></mrow>
                                        <mrow><mi>All timeslices</mi></mrow>
                                    </mfrac>
                                    <mrow><mo>×</mo><mn>100</mn></mrow>
                                </mrow>
                            </math>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="annotated">
        <div class="annotated__controls">
            <div v-if="isTimeBased">
                <!-- SLI timeslice -->
                <h2>
                    <label for="sli-event-unit">Timeslice: {{ timeslice }}</label>
                    <help-component>
                        <p>
                            Time-based SLIs aggregate metric data over a timeslice
                            to mark it as success or failure.
                        </p>
                        <p>
                            This can also reduce the resolution of the data.
                            For example, probing an endpoint every 60 seconds to see if it is available,
                            assumes that the endpoint is available for the entire 60 seconds.
                        </p>
                        <p>
                            Another common example is to compare the average of data points with a desired
                            valud. Averages hide the spikes and valleys in the data.
                            It is better to use
                            <ext-link href="https://github.com/alexewerlof/percentile">percentiles</ext-link>
                            instead.
                        </p>
                        <p>
                            Another example is percentiles. When calculating the 99th percentile of the
                            latency every 5 minutes, the aggregation window is 5 x 60 = 300 seconds.
                        </p>
                        <table>
                            <caption>Typical timeslice lengths</caption>
                            <thead>
                                <tr>
                                    <th>Timeslice</th>
                                    <th>Seconds</th>
                                    <th aria-label="try button"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="p in config.timeslice.presets">
                                    <td>{{ p.title }}</td>
                                    <td>{{ p.seconds }}</td>
                                    <td><button type="button" @click="unit = p.seconds">Try!</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </help-component>
                </h2>
                <input
                    id="sli-event-unit"
                    type="range"
                    :min="config.timeslice.min"
                    :max="config.timeslice.max"
                    :step="config.timeslice.step"
                    placeholder="60"
                    v-model.number="timeslice">
            </div>
            <div v-if="!isTimeBased" class="block">
                <h2>
                    <label for="sli-event-unit">
                        Valid events
                    </label>
                    <help-component>
                        
                    </help-component>
                </h2>

                <input
                    id="sli-event-unit"
                    type="text"
                    v-model="indicator.eventUnit"
                >
            </div>
        </div>
        <div class="annotated__help">
            <p>
                In the service level model, consumers perceive the service level via events.
                Each event can be good or bad (also known as success or failure) based on the value of the metric.
            </p>
            <p>
                How do consumers perceive reliability of your service?
                What kind of events are important to the service consumers?
            </p>
            <p>
                You probably don't want to count all the.
                This is an opportunity to narrow down the scope of the optimization
                and what triggers an alert.
            </p>
            <p>
                For simplicity, sometimes <em>total</em> is used instead of <em>valid</em>.
                But 
                <ext-link href="https://blog.alexewerlof.com/p/valid-vs-total">
                    there is a difference
                </ext-link>.
            </p>
            <p>
                While
                <ext-link href="https://blog.alexewerlof.com/p/sli">
                    Service level indicator
                </ext-link>
                guides the optimization,
                the definition of valid scopes that optimization for two reasons:
                <ul>
                    <li>Focus the optimization effort</li>
                    <li>Clarify responsibility and control</li>
                </ul>
            </p>
            <p>
                Note: use a plural form of the event name so that the UI reads more fluently.
            </p>
            <table>
                <caption>Common events</caption>
                <thead>
                    <th>Event</th>
                    <th>Use case</th>
                    <th aria-label="try button"></th>
                </thead>
                <tbody>
                    <tr v-for="p of config.eventUnit.presets">
                        <td>{{ p.eventUnit }}</td>
                        <td>{{ p.useCase }}</td>
                        <td><button type="button" @click="eventUnit = p.eventUnit">Try!</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="annotated">
        <div class="annotated__controls">
            <h2>Good {{ indicator.eventUnitNorm }}</h2>
            <h3>Metric Name</h3>
            <input type="text" v-model="indicator.metricName" />        
        </div>
        <div class="annotated__help">
            
        </div>
    </div>

    <bound-view :bound="indicator.bound"></bound-view>
    
    <show-hide-component
        v-for="objective of indicator.objectives"
        title="Objective"
        :name="objective">
        <objective-view
            :objective="objective"></objective-view>
    </show-hide-component>

    <div class="annotated">
        <div class="annotated__controls">
            <div class="button-bar">
                <button @click="indicator.addNewObjective()">
                    {{ icon('add') }}
                    Add New Objective
                </button>
            </div>        
        </div>
        <div class="annotated__help">
            <p>
                While a Service Level Indicator specifies how a consumer perceives reliability of the service,
                a Service Level Objective specifies their expectation.
            </p>
        </div>
    </div>
</div>
