<show-hide-component
    title="Level"
    :name="level">

    <div class="annotated">
        <div class="annotated__controls">
            <h2>Consumer</h2>
            <input type="text" />
            <div class="button-bar">
                <button @click="level.addNewIndicator()">New Indicator</button>
            </div>
        </div>
        <div class="annotated__help">
            <p>A level is always set towards the expectations of a service consumer.</p>
        </div>
    </div>
    <indicator-view
        v-for="(indicator, indicatorIndex) of level.indicators"
        :indicator="indicator"></indicator-view>
</show-hide-component>