<div>
    <div class="annotated">
        <div class="annotated__controls">
            <h2>
                Target: {{ percL10n(objective.perc) }}
            </h2>
            <input
                type="range"
                v-model.number="objective.perc" />
            <div v-if="objective.perc > 99.9" class="info block">
                <p>
                    Be mindful of the price tag for this high service level <em>objective</em>!
                </p>

                <p>
                    Everyone wants the highest possible number but
                    <ext-link href="https://blog.alexewerlof.com/p/10x9">
                        not everyone is willing to pay the price.
                    </ext-link>
                </p>
            </div>
            <div v-if="objective.perc < 70" class="info block">
                <p>
                    This is an unusually low service level objective.
                    Typically service level <em>objective</em> is above {{ percL10n(90) }} with some rare exceptions.
                    Please check the <a href="#error-budget-title">Error budget</a> for implications of your chosen SLO.
                </p>
            </div>
        </div>
        <div class="annotated__help">
            <p>
                Service Level Objective (SLO) is the target percentage of
                good {{ objective.indicator.eventUnitNorm }}
                out of total {{ objective.indicator.eventUnitNorm }}
                in {{ objective.window }}.
            </p>
            <table>
                <caption>Typical SLO values</caption>
                <thead>
                    <tr>
                        <th>Informal Name</th>
                        <th>SLO Value</th>
                        <th aria-label="try button"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="p in config.slo.presets">
                        <td>{{ p.title }}</td>
                        <td>{{percL10n(p.slo)}}</td>
                        <td><button type="button" @click="objective.perc = p.slo">Try!</button></td>
                    </tr>
                </tbody>
            </table>
            <p>You can use these buttons to fine-tune your SLO.</p>
            <table>
                <thead>
                    <tr>
                        <th>{{ Math.floor(objective.perc) }}.XYZ</th>
                        <th>Subtract</th>
                        <th>Add</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>X</th>
                        <td><button type="button" @click="objective.perc -= 0.1">{{ percL10n(-0.1) }}</button></td>
                        <td><button type="button" @click="objective.perc += 0.1">{{ percL10n(+0.1) }}</button></td>
                    </tr>
                    <tr>
                        <th>Y</th>
                        <td><button type="button" @click="objective.perc -= 0.01">{{ percL10n(-0.01) }}</button></td>
                        <td><button type="button" @click="objective.perc += 0.01">{{ percL10n(+0.01) }}</button></td>
                    </tr>
                    <tr>
                        <th>Z</th>
                        <td><button type="button" @click="objective.perc -= 0.001">{{ percL10n(-0.001) }}</button></td>
                        <td><button type="button" @click="objective.perc += 0.001">{{ percL10n(+0.001) }}</button></td>
                    </tr>
                    <tr>
                        <th>XYZ</th>
                        <td colspan="2"><button type="button" @click="objective.perc = Math.floor(objective.perc)">reset</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="code block"><code>{{ objective.good }}</code></div>
        </div>
    </div>
    
    <div class="annotated">
        <div class="annotated__controls">
            <h3>Window Days: <code>{{ objective.window.days }}</code></h3>
            <p>{{ objective.window }}</p>
            <input
                type="range"
                v-model="objective.window.days"
                :min="config.windowDays.min"
                :max="config.windowDays.max"
                :step="config.windowDays.step" />
        </div>
        <div class="annotated__help">
            <p>
                The SLO window (also known as the
                <ext-link href="https://blog.alexewerlof.com/p/compliance-period">compliance period</ext-link>)
                is the time period
                for which the SLO is calculated.
            </p>
            <p>
                Essentially this adjusts the <em>forgiveness</em> of the SLO.
                For example if the window is 30 days, we are not concerned with any incidents
                and breaches of SLO that happened before that.
            </p>
            <p>
                Smaller windows also help prevent the error budget from accumulating too much.
                For example, if the SLO is 99% for a time-based Availability SLI (uptime),
                the error budget allows 432 minutes of downtime per month.
                This amount can be consumed in multiple down times during the month or one chunk of long downtime.
                But the same SLO allows only 100 minutes of downtime per week.
            </p>
            <p>
                It is usually 30 days or 4 weeks.
            </p>
            <p>
                You can play with different ranges to see how a given SLO translates to different
                good {{ objective.indicator.eventUnitNorm }} and how it impacts the error budget.
            </p>
            <table>
                <caption>Typical compliance periods</caption>
                <thead>
                    <tr>
                        <th>Window</th>
                        <th>Days</th>
                        <th>Advantage</th>
                        <th aria-label="try button"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="p of config.windowDays.presets">
                        <td>{{ p.title }}</td>
                        <td>{{ p.days }}</td>
                        <td>{{ p.useCase }}</td>
                        <td><button type="button" @click="objective.window.days=p.days">Try!</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="annotated">
        <div class="annotated__controls">
            <h2>Thresholds</h2>
        </div>
        <div class="annotated__help">
            
        </div>
    </div>

    <div v-if="objective.indicator.bound.isBounded" class="annotated">
        <div class="annotated__controls">
            <h3>Lower Threshold: <code>{{ objective.thresholds.lower }}</code></h3>
            <input
                type="range"
                v-model.number="objective.thresholds.lower"
                :min="objective.thresholds.lowerMin"
                :max="objective.thresholds.lowerMax"/>

            <h3>Upper Threshold: <code>{{ objective.thresholds.upper }}</code></h3>
            <input
                type="range"
                v-model.number="objective.thresholds.upper"
                :min="objective.thresholds.upperMin"
                :max="objective.thresholds.upperMax"/>
            <div class="warning block" v-if="upperThreshold <= lowerThreshold">
                <p>
                    The upper threshold must be greater than the lower threshold.
                </p>
            </div>
        </div>
        <div class="annotated__help">
            <p>
                The upper and lower threshold (<code>$UT</code> and <code>$LT</code>) define the 
                accepted range of values for the {{ metricName }}
                from the consumer's perspective to indicate good {{ objective.indicator.eventUnitNorm }}.
            </p>
        </div>
    </div>

    <div v-if="!objective.indicator.bound.isBounded" class="annotated">
        <div class="annotated__controls">
            <h3>Equal to</h3>
            <input
                type="text"
                v-model="objective.thresholds.equalTo" />
        </div>
        <div class="annotated__help">
            <p>
                Good {{ objective.indicator.eventNameNorm }} are indicated by when
                the value of {{ objective.indicator.metricName }} is equal
                to {{ objective.thresholds.equalTo }}.
            </p>
        </div>
    </div>
    
    <div class="annotated">
        <div class="annotated__controls">
            <h2>Error Budget: {{ percL10n(objective.errorBudgetPerc) }}</h2>
            <input type="range" v-model.number="objective.errorBudgetPerc" />
            <h3>Estimated valid count</h3>
            <input type="text" v-model.number="objective.estimatedValidEvents" />
            <div class="warning block" v-if="objective.badCount === 0" aria-colcount="warning block">
                <p>
                    Warning: The error budget is 0 based on your estimated number of valids {{ sloWindow.eventUnitNorm }}.
                </p>
            </div>
        </div>
        <div class="annotated__help">
            <percentage-overview-component
                :bad-perc="objective.errorBudgetPerc"
                :valid-caption="`From ${ objective.estimatedValidEvents } ${ objective.indicator.eventUnitNorm }`"
                :bad-caption="`A most ${ objective.badCount } are allowed to have ${ objective.bad }`"
                :good-caption="`At least ${ objective.goodCount } are guaranteed to have ${ objective.good }`">
            </percentage-overview-component>
            <h3>Counts</h3>
            <h4>Good: at least {{ objective.goodCount }} {{ objective.indicator.eventUnitNorm }}</h4>
            <h4>Bad: at most {{ objective.badCount }} {{ objective.indicator.eventUnitNorm }}</h4>
            <h4>Valid: {{ objective.validCount }} {{ objective.indicator.eventUnitNorm }}</h4>
            <p>
                Error budget is one of the core ideas behind using SLI/SLOs to improve reliability.
                Instead of denying or forbidding errors, error budget allows the system to fail
                within a pre-defined limit.
            </p>
            <p>
                The number one enemy of reliability is change.
                But we need change to be able to improve the system.
                Error budgets do exactly that.
                They provide a budget of error for the team to improve the system while keeping
                the consumers happy enough.
            </p>
            <p>
                Error budget is the complement of SLO.
                It is the percentage of bad {{ objective.indicator.eventUnitNorm }} that you can have
                before you violate the SLO.
            </p>
            <math>
                <mtable>
                    <mtr>
                        <mtd>
                            <mi>error_budget</mi>
                        </mtd>
                        <mtd>
                            <mo>=</mo>
                            <mn>100</mn>
                            <mo>-</mo>
                            <mi>SLO</mi>
                        </mtd>
                    </mtr>

                    <mtr>
                        <mtd></mtd>
                        <mtd>
                            <mo>=</mo>
                            <mn>{{ percL10n(100) }}</mn>
                            <mo>-</mo>
                            <mi>{{ percL10n(objective.perc) }}</mi>
                            <mo>=</mo>
                            <mn>{{ percL10n(objective.errorBudgetPerc) }}</mn>
                        </mtd>
                    </mtr>
                </mtable>
            </math>
            <table>
                <thead>
                    <tr>
                        <th>Failures</th>
                        <th>Less</th>
                        <th>More</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ numL10n(1) }}</th>
                        <td>
                            <button type="button"
                                @click="objective.errorBudgetPerc -= objective.eventDeltaPerc(1)">
                                {{ numL10n(-1) }}
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                @click="objective.errorBudgetPerc += objective.eventDeltaPerc(1)">
                                {{ numL10n(1) }}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ numL10n(10) }}</th>
                        <td>
                            <button type="button"
                                @click="objective.errorBudgetPerc -= objective.eventDeltaPerc(10)">
                                {{ numL10n(-10) }}
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                @click="objective.errorBudgetPerc += objective.eventDeltaPerc(10)">
                                {{ numL10n(10) }}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ numL10n(100) }}</th>
                        <td>
                            <button type="button"
                                @click="objective.errorBudgetPerc -= objective.eventDeltaPerc(100)">
                                {{ numL10n(-100) }}
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                @click="objective.errorBudgetPerc += objective.eventDeltaPerc(100)">
                                {{ numL10n(100) }}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ numL10n(1000) }}</th>
                        <td>
                            <button type="button"
                                @click="objective.errorBudgetPerc -= objective.eventDeltaPerc(1000)">
                                {{ numL10n(-1000) }}
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                @click="objective.errorBudgetPerc += objective.eventDeltaPerc(1000)">
                                {{ numL10n(1000) }}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ numL10n(10000) }}</th>
                        <td>
                            <button type="button"
                                @click="objective.errorBudgetPerc -= objective.eventDeltaPerc(10000
                                )">{{ numL10n(-10000) }}
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                @click="objective.errorBudgetPerc += objective.eventDeltaPerc(10000
                                )">{{ numL10n(10000) }}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="annotated">
        <div class="annotated__controls">
            <div class="code block">
                <code>
                    <span class="funct"> Percentage of </span>
                    <span class="exprs">{{ objective.indicator.eventUnitNorm }}</span>
                    <span class="funct"> during the last </span>
                    <span class="exprs">{{ objective.window.humanSec }}</span>
                    <span class="funct"> where </span>
                    <span class="exprs">{{ objective.good }}</span>
                </code>
            </div>
        </div>
        <div class="annotated__help">
            <p>
                <ext-link href="https://blog.alexewerlof.com/p/sls">
                    Service Level Status (SLS)
                </ext-link>
                is the percentage of good
                {{ objective.indicator.eventUnitNorm }} in a given time.
            </p>
            <p>
                SLS is the status of the Service Level and directly relates to SLO.
                Whenever SLS is below SLO, we have breached the SLO.
                In case of <ext-link href="https://blog.alexewerlof.com/p/sla">SLA</ext-link>,
                this may have severe consequences.
            </p>
        </div>
    </div>

    <div class="annotated">
        <div class="annotated__controls">
            
        </div>
        <div class="annotated__help">
            
        </div>
    </div>
    
    <div class="annotated">
        <div class="annotated__controls">
            <div class="block">
                <label>
                    <input type="checkbox" v-model="objective.cost.use"> Use Cost
                </label>
            </div>
            <div v-if="objective.cost.use">
                <h3>Cost of 1 bad event</h3>
                <h4>Currency</h4>
                <input type="text" v-model="objective.cost.currency" />
                <h4>Min</h4>
                <input type="number" v-model.number="objective.cost.minUnitCost" />
                <h4>Average</h4>
                <input type="number" v-model.number="objective.cost.avgUnitCost" />
                <h4>Max</h4>
                <input type="number" v-model.number="objective.cost.maxUnitCost" />
            </div>
        </div>
        <div class="annotated__help">
            <h4>Error Budget Cost</h4>
            <p>{{ objective.cost.all(objective.badCount) }}</p>
            <p>
                You can optionally assign a cost to errors in order to help you set a meaningful
                error budget that matches your customer expectations.
            </p>
            <p>
                The idea is to use money to put the failures in perspective and don't over-optimize when not needed.
            </p>
            <p>
                How much does a bad
                <label for="sli-event-unit">
                    <code>{{ objective.indicator.eventUnitNorm }}</code>
                </label>
                cost the business or your team?
            </p>
            <p>
                You can set the currency to see how much it costs to violate the SLO.
                If you can't put a currency on the errors, feel free to get creative.
            </p>
            <table>
                <caption>Typical Currencies</caption>
                <tr>
                    <th>Abbreviation</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                <tr v-for="p of config.badEventCurrency.presets">
                    <td>{{ p.currency }}</td>
                    <td>{{ p.description }}</td>
                    <td><button type="button" @click="objective.cost.currency = p.currency">Try!</button></td>
            </table>
            <p>
                This cost will be used to put a tangible number on various windows and events.
                It might be hard to put a number on failures especially if some resilience patterns are part of the architecture.
            </p>
            <p>
                There are many ways to make the failures cheaper.
                In a future article, we will discuss all patterns of reliability and how to make errors cheap.
                In the mean time check out the following techniques:
            </p>
            <ul>
                <li>
                    <ext-link href="https://blog.alexewerlof.com/p/fallback">Fallback</ext-link>
                </li>
                <li>
                    <ext-link href="https://blog.alexewerlof.com/p/failover">Failover</ext-link>
                </li>
            </ul>
        </div>
    </div>

    <show-hide-component
        v-for="alert of objective.alerts"
        title="Alert"
        :name="alert">
        <alert-view :alert="alert"></alert-view>
    </show-hide-component>

    <div class="annotated">
        <div class="annotated__controls">
            <div class="button-bar">
                <button @click="objective.addNewAlert()">
                    {{ icon('add') }}
                    Add Alert
                </button>
                <button class="danger" @click="objective.remove()">
                    {{ icon('remove') }}
                    Remove Objective
                </button>
            </div>        
        </div>
        <div class="annotated__help">
            <p>
                What is the point of setting SLI/SLO if we are not going to take application
                when the SLO is violated?
            </p>
            <p>
                Alerting on error budgets enable us to be on top of the reliability of our system.
                When using service levels, the alert triggers on the rate of consuming the error budget.
            </p>
            <p>
                A Service Level Objective (SLO) specifies a commitment.
                The commitment is only meaningful if the service provider is monitoring the
                metric that indicates the level of service (SLI).
            </p>
        </div>
    </div>
</div>
