<div>
    <div class="annotated">
        <div class="annotated__controls">
            <h2>Business Impact</h2>
            <input type="text" v-model="failure.businessImpact">
        </div>
        <div class="annotated__help">
            <p>
                What is the business impacted when
                {{ failure.consequence }}
                because
                {{ failure.symptom }} (symptom)
                which is caused by
                {{ failure.service.displayName }}
                (provided by {{ failure.service.system.displayName }})
                when
                {{ failure.consumption.consumer.displayName }}
                is trying to
                {{ failure.consumption.displayName }}
            </p>
            <code>
                <span title="Consequence" class="exprs">
                    {{ failure.consequence }}
                </span>
                <br>
                &nbsp;<span class="punct">{{ icon('remove') }}</span>
                Because
                <span title="Symptom" class="exprs">
                    {{ failure.symptom }}
                </span>
                <br>
                &nbsp;&nbsp;<span class="punct">{{ icon('remove') }}</span>
                When
                <span title="Consumer" class="exprs">
                    {{ failure.consumption.consumer.displayName }}
                </span>
                is trying to
                <span title="Consumption" class="exprs">
                    {{ failure.consumption.displayName }}
                </span>
                <br>
                &nbsp;&nbsp;&nbsp;<span class="punct">{{ icon('remove') }}</span>
                Using
                <span title="Service" class="exprs">
                    {{ failure.service.displayName }}
                </span>
                provided by
                <span title="System" class="exprs">
                    {{ failure.service.system.displayName }}
                </span>
            </code>
        </div>
    </div>
    
    <div class="annotated">
        <div class="annotated__controls">
            <h2>Impact Level</h2>
            <select v-model="failure.impactLevel">
                <option v-for="impactLevel of config.impactLevel.possibleValues"
                    :value="impactLevel">
                    {{ impactLevel }}
                </option>
            </select>
            <h2>Likelihood</h2>
            <select v-model="failure.likelihood">
                <option v-for="likelihood of config.likelihood.possibleValues"
                    :value="likelihood">
                    {{ likelihood }}
                </option>
            </select>
            <h2>Priority</h2>
            <p>{{ failure.priority }}</p>
        </div>
        <div class="annotated__help">
            <p>
                YY
            </p>
        </div>
    </div>
</div>