<div>
    <div class="block-both">
        <h1>Service: {{ service }}</h1>

        <h2>Failures</h2>
        <div v-if="service.failures.length === 0" class="error block">
            <p>
                You have not identified any failures for this service.
                Make sure that there is a consumption for this service and you
                have identified the symptoms for the failures.
            </p>
        </div>
        <table v-if="service.failures.length">
            <thead>
                <tr>
                    <th>Consumer</th>
                    <th>Consumption</th>
                    <th>Symptom</th>
                    <th>Consequence</th>
                    <th>Business Impact</th>
                    <th>Impact Level</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="failure of service.failures">
                    <td>{{ failure.consumption.consumer }}</td>
                    <td>{{ failure.consumption.displayName }}</td>
                    <td>{{ failure.symptom }}</td>
                    <td>{{ failure.consequence }}</td>
                    <td>{{ failure.businessImpact }}</td>
                    <td>{{ failure.impactLevel }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <show-hide-component
        v-for="metric in service.metrics"
        title="Metric"
        :name="metric">
        <metric-view
            :metric="metric"></metric-view>
    </show-hide-component>

    <div class="annotated" v-if="service.failures.length">
        <div class="annotated__controls">
            <div class="button-bar">
                <button @click="service.addNewMetric()">
                    {{ icon('add') }} 
                    Add New Metric
                </button>
            </div>
        </div>
        <div class="annotated__help">
            {{ service }} has {{ service.failures.length }} failures and
            {{ service.metrics.length }} metrics.
        </div>
    </div>

</div>