<article>
    <section>
        <h1>Summary</h1>
        <h2>Services</h2>
        <ul>
            <li v-for="service of assessment.allServices">
                {{ service }}
            </li>
        </ul>
        <h2>Consumptions</h2>
        <ul>
            <li v-for="consumption of assessment.allConsumptions">
                {{ consumption }}
            </li>
        </ul>
        <h2>Failures</h2>
        <ul>
            <li v-for="failure of assessment.allFailures">
                {{ failure }} ({{ failure.likelihood }}, {{ failure.impactLevel }})
            </li>
        </ul>
        <h2>Metrics</h2>
        <div v-for="service of assessment.allServices">
            <h3>{{ service }}</h3>
            <ul>
                <li v-for="metric of service.metrics">
                    {{ metric }}
                    <ol>
                        <li v-for="failure of metric.measuredFailures">
                            {{ failure }}
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
    </section>
</article>