<article>
    <section>
        <h1>Summary</h1>
        <h2>
            {{ icon('system') }}
            Systems
        </h2>
        <ul>
            <li v-for="system of assessment.systems">
                {{ system }}
            </li>
        </ul>
        <h2>
            {{ icon('service') }}
            Services
        </h2>
        <ul>
            <li v-for="service of assessment.allServices">
                {{ service }}
            </li>
        </ul>
        <h2>
            {{ icon('consumer') }}
            Consumers
        </h2>
        <ul>
            <li v-for="consumer of assessment.consumers">
                {{ consumer }}
            </li>
        </ul>
        <h2>
            {{ icon('consumption') }}
            Consumptions
        </h2>
        <ul>
            <li v-for="consumption of assessment.allConsumptions">
                {{ consumption }}
            </li>
        </ul>
        <h2>
            {{ icon('failure') }}
            Failures
        </h2>
        <ul>
            <li v-for="failure of assessment.allFailures">
                {{ failure }} ({{ failure.likelihood }}, {{ failure.impactLevel }})
                <ul>
                    <li v-for="metric of failure.metrics">
                        {{ metric }}
                    </li>
                </ul>
            </li>
        </ul>
        <h2>
            {{ icon('metric') }}
            Metrics
        </h2>
        <ul>
            <li v-for="metric of assessment.allMetrics">
                {{ metric }}
                <ul>
                    <li v-for="failure of metric.linkedFailures">
                        {{ failure }}
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</article>