<div>

    <div class="annotated">
        <div class="annotated__controls">
            <h2>System Name</h2>
            <input type="text" v-model="system.displayName">
            <h2>Description</h2>
            <textarea v-model="system.description"></textarea>
        </div>
        <div class="annotated__help">
            <p>
                Give your system a name to be able to recognize it.
                The description is optional but can be useful to provide more context. 
            </p>
            <p>
                A system is what the provider owns. For example: an API server, a web site, an SDK, etc.
                A system may have many components but they are irrelevant to the consumers.
                As far as the consumer is concerned, the provider is responsible to provide a service that they
                consume to achieve a goal.
            </p>
        </div>
    </div>

    <show-hide-component
        v-for="service of system.services"
        title="Service"
        :name="service">
        <service-view :service="service"></service-view>
    </show-hide-component>

    <div class="annotated">
        <div class="annotated__controls">
            <div class="error block" v-if="system.services.length === 0">
                <p>
                    At the moment this system does not offer any consumer facing services.
                    Therefore it is not possible to define a service level for it.
                </p>
            </div>
            <div class="button-bar">
                <button @click="system.addNewService()">
                    {{ icon('add') }} 
                    Add New Service
                </button>
                <button class="danger" @click="system.remove()">
                    {{ icon('remove') }} 
                    Remove System
                </button>
            </div>
        </div>
        <div class="annotated__help">
            <p>
                The system offers
                <ext-link href="https://blog.alexewerlof.com/p/service">service</ext-link>s
                which are in turn consumed by the consumers.
            </p>
            <p>
                Examples include: APIs, web sites, app components like SDKs, authetication, etc.
            </p>
        </div>
    </div>

</div>