<h5 id="error-budget-title">
    <label for="slo-int-input">
        Budget:
        {{ percL10n(objective.errorBudget) }}
    </label>
    <help-component>
        <p>
            Error budget is one of the core ideas behind using SLI/SLOs to improve reliability.
            Instead of denying or forbidding errors, error budget allows the system to fail
            within a pre-defined limit.
        </p>
        <p>
            The number one enemy of reliability is change.
            But we need change to be able to improve the system.
            Error budgets do exactly that.
            They provide a budget of error for the team to improve the system while keeping
            the consumers happy enough.
        </p>
        <p>
            Error budget is the complement of SLO.
            It is the percentage of bad {{ objective.indicator.eventUnitNorm }} that you can have
            before you violate the SLO.
        </p>
        <math>
            <mtable>
                <mtr>
                    <mtd>
                        <mi>error_budget</mi>
                    </mtd>
                    <mtd>
                        <mo>=</mo>
                        <mn>100</mn>
                        <mo>-</mo>
                        <mi>SLO</mi>
                    </mtd>
                </mtr>

                <mtr>
                    <mtd></mtd>
                    <mtd>
                        <mo>=</mo>
                        <mn>{{ percL10n(100) }}</mn>
                        <mo>-</mo>
                        <mi>{{ percL10n(objective.target) }}</mi>
                        <mo>=</mo>
                        <mn>{{ percL10n(objective.errorBudget) }}</mn>
                    </mtd>
                </mtr>
            </mtable>
        </math>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Subtract</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ numL10n(1) }}</th>
                    <td><button type="button" class="button--small" @click="objective.changeErrorBudget(-1)">{{ numL10n(-1) }}</button></td>
                    <td><button type="button" class="button--small" @click="objective.changeErrorBudget(1)">{{ numL10n(1) }}</button></td>
                </tr>
                <tr>
                    <th>{{ numL10n(10) }}</th>
                    <td><button type="button" class="button--small" @click="objective.changeErrorBudget(-10)">{{ numL10n(-10) }}</button></td>
                    <td><button type="button" class="button--small" @click="objective.changeErrorBudget(10)">{{ numL10n(10) }}</button></td>
                </tr>
                <tr>
                    <th>{{ numL10n(100) }}</th>
                    <td><button type="button" class="button--small" @click="objective.changeErrorBudget(-100)">{{ numL10n(-100) }}</button></td>
                    <td><button type="button" class="button--small" @click="objective.changeErrorBudget(100)">{{ numL10n(100) }}</button></td>
                </tr>
                <tr>
                    <th>{{ numL10n(1000) }}</th>
                    <td><button type="button" class="button--small" @click="objective.changeErrorBudget(-1000)">{{ numL10n(-1000) }}</button></td>
                    <td><button type="button" class="button--small" @click="objective.changeErrorBudget(1000)">{{ numL10n(1000) }}</button></td>
                </tr>
                <tr>
                    <th>{{ numL10n(10000) }}</th>
                    <td><button type="button" class="button--small" @click="objective.changeErrorBudget(-10000)">{{ numL10n(-10000) }}</button></td>
                    <td><button type="button" class="button--small" @click="objective.changeErrorBudget(10000)">{{ numL10n(10000) }}</button></td>
                </tr>
            </tbody>
        </table>
    </help-component>
</h5>

<div class="warning block" v-if="objective.failureWindow.eventCount === 0" aria-colcount="warning block">
    <p>
        Warning: The allowed failures is 0 based on your estimated number of valid {{ objective.indicator.eventUnitNorm }}.
    </p>
</div>
<div class="error-budget-component" :style="errorBudgetGridTemplateColumns">
    <div></div>
    <div class="error-budget-component__error-caption">
        A maximum of
        <label for="slo-int-input">{{ objective.failureWindow.eventCountL10n }}</label>
        bad
        <label for="sli-event-unit">{{ objective.failureWindow.eventUnitNorm }}</label>
        are allowed
    </div>

    <div class="error-budget-component__fill--bad" :style="errorBudgetFillWidth"></div>
    <div class="error-budget-component__fill--good">
        At least
        <label for="slo-int-input">{{ numL10n(objective.goodEventCount) }}</label>
        good
        <label for="sli-event-unit">{{ objective.failureWindow.eventUnitNorm }}</label>
        are guaranteed
    </div>

    <div class="error-budget-component__valid-caption">
        <label for="expected-daily-events-input">{{ numL10n(objective.validEventCount) }}</label>
        valid
        <label for="sli-event-unit">{{ objective.failureWindow.eventUnitNorm }}</label>
        in
        <label for="slo-window-unit-multiplier">{{ objective.failureWindow.humanTime }}</label>
    </div>
</div>
