@import url('../variables.css');

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars on body and html */
}

.canvas-container {
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    overflow: auto; /* Enable scrollbars */
    border: 1px solid #000; /* Optional: for visual reference */
}

.canvas-container svg {
    background-color: var(--background-color); /* Optional: for visual reference */
}

.grid__dot {
    fill: var(--background-darker);
}

.entity--provider {
    fill: var(--primary-lighter);
}

.entity--service {
    fill: var(--primary-color);
}

.entity--consumption {
    fill: var(--secondary-color);
}

.grid__line {
    stroke: var(--divider-color);
    stroke-width: 1;
}
