<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    <main id="app">
        <div class="code block">
            <pre><code>{{ osloExport }}</code></pre>
        </div>
        <button @click="updateOslo()">Update Oslo Export</button>
        <article v-for="level of service.levels">
            <section v-for="indicator of level.indicators">
                <h1>Metric Name</h1>
                <input type="text" v-model="indicator.metricName" />
                <h2>Good</h2>
                <div class="code block"><code>{{ indicator.good }}</code></div>
                <h3>Condition</h3>
                <div class="box">
                    <label>
                        <input type="checkbox" v-model="indicator.condition.isBounded"> Bounded
                    </label>
                </div>
                <div v-if="indicator.condition.isBounded">
                    <h4>Lower Bound</h4>
                    <select
                        id="lower-bound-type"
                        v-model="indicator.condition.lowerBound">
                        <option v-for="v of config.lowerBound.possibleValues"
                            :value="v">
                            {{ boundCaption(indicator.metricName, v, '$LT') }}
                        </option>
                    </select>
                    <h4>Upper Bound</h4>
                    <select
                        id="upper-bound-type"
                        v-model="indicator.condition.upperBound">
                        <option v-for="v of config.upperBound.possibleValues"
                            :value="v">
                            {{ boundCaption(indicator.metricName, v, '$UT') }}
                        </option>
                    </select>
                </div>
                <h2>Bad</h2>
                <div class="code block"><code>{{ indicator.bad }}</code></div>

                <h1>SLOs</h1>
                <button @click="indicator.addNewObjective()">Add Objective</button>
                <article v-for="(objective,i) of indicator.objectives">
                    <section>
                        <h2>
                            Objective: {{ percL10n(objective.perc) }}
                            <button @click="removeSlo(i)">Remove Objective</button>
                        </h2>
                        <div class="code block"><code>{{ objective.good }}</code></div>
                        <p>Percentage: <code>{{ objective.percL10n }}</code></p>
                        <input
                            type="range"
                            v-model.number="objective.perc" />
                        
                        <h3>Window Days: <code>{{ objective.window.days }}</code></h3>
                        <p>{{ objective.window }}</p>
                        <input
                            type="range"
                            v-model="objective.window.days" />

                        <div v-if="objective.indicator.condition.isLowerBounded">
                            <h3>Lower Threshold: <code>{{ objective.thresholds.lower }}</code></h3>
                            <input
                                type="range"
                                v-model.number="objective.thresholds.lower"
                                :min="objective.thresholds.lowerMin"
                                :max="objective.thresholds.lowerMax"/>
                        </div>

                        <div v-if="objective.indicator.condition.isUpperBounded">
                            <h3>Upper Threshold: <code>{{ objective.thresholds.upper }}</code></h3>
                            <input
                                type="range"
                                v-model.number="objective.thresholds.upper"
                                :min="objective.thresholds.upperMin"
                                :max="objective.thresholds.upperMax"/>
                        </div>

                        <div v-if="!objective.indicator.condition.isBounded">
                            <h3>Equal to</h3>
                            <input
                                type="text"
                                v-model="objective.thresholds.equalTo" />
                        </div>
                        <p>Error Budget: {{ objective.errorBudgetPercL10n }}</p>
                        <input type="range" v-model.number="objective.errorBudgetPerc" />
                    </section>
                    <section>
                        <h1>Alerts</h1>
                        <button @click="objective.addNewAlert(i)">Add Alert</button>
                    </section>
                </article>
            </section>
    </article>
    </main>
    <script type="module" src="index.js"></script>
</body>
</html>