<svg v-bind:viewBox="viewBox" xmlns="http://www.w3.org/2000/svg">
    <!-- horizontal axis -->
    <horizontal-axis-component
        :x1="leftX"
        :x2="rightX"
        :y="bottomY">
        Time
    </horizontal-axis-component>
    <vertical-axis-component
        :x="leftX"
        :y1="topY"
        :y2="bottomY">
        Failures
    </vertical-axis-component>
    <!-- burn line -->
    <g>
        <line
            class="burn-line"
            :x1="leftX"
            :x2="rightX"
            :y1="bottomY"
            :y2="topY" />
    </g>    
    <burn-event-component
        :width="width"
        :height="height"
        :x="rightX"
        :y1="margin.top"
        :y2="height - margin.bottom"
        color="--brand-red"
        offset="1">
        <tspan>Error Budget Exhausted</tspan>
    </burn-event-component>
    <burn-event-component
        :width="width"
        :height="height"
        :x="longWindowX"
        :y1="margin.top"
        :y2="height - margin.bottom"
        color="--brand-green"
        offset="3">
        <tspan>Alert Triggers</tspan>
        <tspan>When at least {{ alertLongWindow.eventCountL10n }} failures</tspan>
        <tspan>occured in the last {{ alertLongWindow.humanSec }}</tspan>
        <tspan v-if="alertLongWindow.cost">costing at least {{ alertLongWindow.costL10n }}</tspan>
    </burn-event-component>
    <burn-event-component v-if="shortWindowVisible"
        :width="width"
        :height="height"
        :x="shortWindowX"
        :y1="margin.top"
        :y2="height - margin.bottom"
        color="--brand-purple"
        offset="2">
        <tspan>Short Window</tspan>
        <tspan>When at least {{ alertShortWindow.eventCountL10n }} failures</tspan>
        <tspan>occured in the last {{ alertShortWindow.humanSec }}</tspan>
    </burn-event-component>
</svg>