.assessment-graph-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.assessment-graph-component__line {
    stroke-width: 2;
}

.assessment-graph-component__line--relation {
    stroke: var(--primary-color);
}

.assessment-graph-component__line--service-dependency {
    stroke: var(--brand-green);
    stroke-dasharray: 5, 5;
}

.assessment-graph-component__line--consumption-dependency {
    stroke: var(--brand-purple);
    stroke-dasharray: 5, 5;
}
