.assessment-graph-component {
    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
        max-width: 100%;
    }
}

.assessment-graph-component__line {
    stroke-width: 2;
}

.assessment-graph-component__line--relation {
    stroke: var(--primary-color);
}

.assessment-graph-component__line--service-dependency {
    stroke: var(--brand-green);
    stroke-dasharray: 5, 5;
}

.assessment-graph-component__line--consumption-dependency {
    stroke: var(--brand-purple);
    stroke-dasharray: 5, 5;
}

.assessment-graph-component__status-bar {
    opacity: 0;
    min-height: 24px;
    text-align: center;
    transition: opacity var(--animation-speed) ease-in-out;
}
