<g 
    @mouseenter="$emit('status', tooltip)"
    @mouseleave="$emit('status')"
    :class="classes"
>
    <rect
        class="assessment-graph-component__selection-indicator"
        v-if="isSelected"
        :x="sel.x"
        :y="sel.y"
        :width="sel.width"
        :height="sel.height"></rect>
    <circle
        class="assessment-graph-component-entity__bg"
        :cx
        :cy
        :r>
        <title v-if="tooltip">{{ tooltip }}</title>
    </circle>
    <text
        :x="cx"
        :y="cy">
        <slot></slot>
    </text>
    <circle
        v-if="hasNotification"
        class="assessment-graph-component-entity__notification-indicator"
        :cx="notif.cx"
        :cy="notif.cy"
        :r="notif.r"
    ></circle>
</g>