<div class="assessment-graph-component">
    <svg :viewBox="`0 0 ${width} ${height}`" :width="width" :height="height" @click.self="$emit('select', undefined)">
        <!-- Consumptions & Consumers -->
        <g v-for="consumer of assessment.consumers">
            <g v-for="consumption of consumer.consumptions">
                <path
                    class="assessment-graph-component__line assessment-graph-component__line--relation"
                    :d="d(consumerX(consumer), consumerY(consumer), consumptionX(consumption), consumptionY(consumption))"></path>
                <path
                    class="assessment-graph-component__line assessment-graph-component__line--consumption-dependency"
                    :d="d(consumptionX(consumption), consumptionY(consumption), width, consumptionY(consumption))"></path>
                <assessment-graph-component-entity
                    :is-selected="selectedEntity === consumption"
                    :has-notification="consumption.lint.count"
                    type="consumption"
                    :cx="consumptionX(consumption)"
                    :cy="consumptionY(consumption)"
                    :tooltip="`Consumption: ${ consumption }`"
                    @click="$emit('select', consumption)"
                    @status="updateStatus"
                    >
                    {{ icon('consumption') }}
                </assessment-graph-component-entity>
            </g>
            <assessment-graph-component-entity
                :is-selected="selectedEntity === consumer"
                :has-notification="consumer.lint.count"
                type="consumer"
                :cx="consumerX(consumer)"
                :cy="consumerY(consumer)"
                :tooltip="`Consumer: ${ consumer }`"
                @click="$emit('select', consumer)"
                @status="updateStatus"
                >
                {{ icon('consumer') }}
            </assessment-graph-component-entity>
        </g>
        <!-- Services & Providers -->
        <g v-for="provider of assessment.providers">
            <g v-for="service of provider.services">
                <path
                    class="assessment-graph-component__line assessment-graph-component__line--relation"
                    :d="d(providerX(provider), providerY(provider), serviceX(service), serviceY(service))"></path>
                <path
                    class="assessment-graph-component__line assessment-graph-component__line--service-dependency"
                    :d="d(serviceX(service), serviceY(service), serviceX(service), height)"></path>
                <assessment-graph-component-entity
                    :is-selected="selectedEntity === service"
                    :has-notification="service.lint.count"
                    type="service"
                    :cx="serviceX(service)"
                    :cy="serviceY(service)"
                    :tooltip="`Service: ${ service }`"
                    @click="$emit('select', service)"
                    @status="updateStatus"
                    >
                    {{ icon('service') }}
                </assessment-graph-component-entity>
                <!-- Dependencies -->
                <assessment-graph-component-entity
                    v-for="dependency of service.dependencies"
                    :is-selected="selectedEntity === dependency"
                    :has-notification="dependency.lint.count"
                    type="dependency"
                    :cx="dependencyX(dependency)"
                    :cy="dependencyY(dependency)"
                    :tooltip="`Dependency: ${ dependency }`"
                    @click="$emit('select', dependency)"
                    @status="updateStatus"
                    >
                    {{ dependency.failures.length }}
                </assessment-graph-component-entity>
                <!-- Metrics -->
                <assessment-graph-component-entity
                    v-for="metric of service.metrics"
                    :is-selected="selectedEntity === metric"
                    :has-notification="metric.lint.count"
                    type="metric"
                    :cx="metricX(metric)"
                    :cy="metricY(metric)"
                    :tooltip="`Metric: ${ metric }`"
                    @click="$emit('select', metric)"
                    @status="updateStatus"
                    >
                    {{ icon('metric') }}
                </assessment-graph-component-entity>
            </g>
            <!-- Provider -->
            <assessment-graph-component-entity
                :is-selected="selectedEntity === provider"
                :has-notification="provider.lint.count"
                type="provider"
                :tooltip="`Provider: ${ provider }`"
                :cx="providerX(provider)"
                :cy="providerY(provider)"
                @click="$emit('select', provider)"
                @status="updateStatus"
                >
                {{ icon('provider') }}
            </assessment-graph-component-entity>
        </g>
    </svg>
    <div class="assessment-graph-component__status-bar"
        :style="statusStyle">{{ statusText }}</div>
</div>
