.assessment-graph-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.assessment-graph-component__dot {
    fill: var(--background-darker);
}

.assessment-graph-component__entity {
    stroke: var(--primary-color);
    stroke-width: 2;
    cursor: pointer;
}

.assessment-graph-component__entity:hover {
    fill: var(--secondary-color);
    stroke-width: 2;
}

.assessment-graph-component__entity--provider {
    fill: var(--brand-green);
}

.assessment-graph-component__entity--service {
    fill: var(--brand-green);
}

.assessment-graph-component__entity--consumer {
    fill: var(--brand-purple);
}

.assessment-graph-component__entity--consumption {
    fill: var(--brand-purple);
}

.assessment-graph-component__entity--dependency {
    fill: var(--brand-pink);
}

.assessment-graph-component__line {
    stroke-width: 2;
}

.assessment-graph-component__line--relation {
    stroke: var(--primary-color);
}

.assessment-graph-component__line--dependency {
    stroke: var(--background-darker);
}
