<div class="assessment-graph-component">
    <svg :viewBox="`0 0 ${width} ${height}`" :width="width" :height="height">
        <!-- Consumptions & Consumers -->
        <g v-for="consumer of assessment.consumers">
            <g v-for="consumption of consumer.consumptions">
                <path
                    class="assessment-graph-component__line assessment-graph-component__line--relation"
                    :d="d(consumerX, consumerY(consumer), consumptionX, consumptionY(consumption))"></path>
                <path
                    class="assessment-graph-component__line assessment-graph-component__line--consumption-dependency"
                    :d="d(consumptionX, consumptionY(consumption), width, consumptionY(consumption))"></path>
                <assessment-graph-component-entity
                    type="consumption"
                    :cx="consumptionX"
                    :cy="consumptionY(consumption)"
                    :r="consumptionRadius"
                    :tooltip="`Consumption: ${ consumption }`"
                    @click="$emit('select', 'Consumption', consumption)"
                    @status="updateStatus"
                    >
                    {{ icon('consumption') }}
                </assessment-graph-component-entity>
            </g>
            <assessment-graph-component-entity
                type="consumer"
                :cx="consumerX"
                :cy="consumerY(consumer)"
                :r="consumerRadius"
                :tooltip="`Consumer: ${ consumer }`"
                @click="$emit('select', 'Consumer', consumer)"
                @status="updateStatus"
                >
                {{ icon('consumer') }}
            </assessment-graph-component-entity>
        </g>
        <!-- Services & Providers -->
        <g v-for="provider of assessment.providers">
            <g v-for="service of provider.services">
                <path
                    class="assessment-graph-component__line assessment-graph-component__line--relation"
                    :d="d(providerX(provider), providerY, serviceX(service), serviceY)"></path>
                <path
                    class="assessment-graph-component__line assessment-graph-component__line--service-dependency"
                    :d="d(serviceX(service), serviceY, serviceX(service), height)"></path>
                <assessment-graph-component-entity
                    type="service"
                    :cx="serviceX(service)"
                    :cy="serviceY"
                    :r="serviceRadius"
                    :tooltip="`Service: ${ service }`"
                    @click="$emit('select', 'Service', service)"
                    @status="updateStatus"
                    >
                    {{ icon('service') }}
                </assessment-graph-component-entity>
                <!-- Dependencies -->
                <assessment-graph-component-entity
                    v-for="dependency of service.dependencies"
                    type="dependency"
                    :cx="serviceX(dependency.service)"
                    :cy="consumptionY(dependency.consumption)"
                    :r="dependencyRadius"
                    :tooltip="`Dependency: ${ dependency }`"
                    @click="$emit('select', 'Dependency', dependency)"
                    @status="updateStatus"
                    >
                    {{ dependency.failures.length }}
                </assessment-graph-component-entity>
                <!-- Metrics -->
                <assessment-graph-component-entity
                    type="metric"
                    :cx="serviceX(service)"
                    :cy="metricY"
                    :r="metricRadius"
                    :tooltip="`Metric for ${ service }`"
                    @click="$emit('select', 'ServiceMetrics', service)"
                    @status="updateStatus"
                    >
                    {{ service.metrics.length }}
                </assessment-graph-component-entity>
            </g>
            <!-- Provider -->
            <assessment-graph-component-entity
                type="provider"
                :tooltip="`Provider: ${ provider }`"
                :cx="providerX(provider)"
                :cy="providerY"
                :r="providerRadius"
                @click="$emit('select', 'Provider', provider)"
                @status="updateStatus"
                >
                {{ icon('provider') }}
            </assessment-graph-component-entity>
        </g>
    </svg>
    <div class="assessment-graph-component__status-bar"
        :style="statusStyle">{{ statusText }}</div>
</div>
