.assessment-graph-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
        max-width: 100%;
    }
}

.assessment-graph-component__selection-indicator {
    stroke-width: 2;
    stroke: var(--secondary-color);
    fill: none;
    rx: var(--bradius);
    ry: var(--bradius);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.assessment-graph-component__line {
    stroke-width: 2;
}

.assessment-graph-component__line--relation {
    stroke: var(--primary-color);
}

.assessment-graph-component__line--service-usage {
    stroke: var(--brand-green);
    stroke-dasharray: 5, 5;
}

.assessment-graph-component__line--task-usage {
    stroke: var(--brand-purple);
    stroke-dasharray: 5, 5;
}

.assessment-graph-component__status-bar {
    opacity: 0;
    min-height: 24px;
    text-align: center;
    transition: opacity var(--animation-speed) ease-in-out;
}
