.event line {
    stroke: var(--foreground-color);
    stroke-width: 1px;
    stroke-dasharray: 3px 3px;
}

.event text {
    font-family: var(--body-font-family);
    fill: var(--foreground-color);
    font-size: 1rem;
}
