@import url('variables.css');

.axis {
    stroke: var(--primary-color);
    stroke-width: 2px;
}

.axis-title {
    font-family: var(--title-font-family);
    fill: var(--primary-color);
    font-size: 1.2rem;
    text-anchor: end;
}

.burn-line {
    stroke: var(--brand-red);
    stroke-width: 1px;
    stroke-dasharray: 3px 2px;
}
