<svg v-bind:viewBox="viewBox" xmlns="http://www.w3.org/2000/svg">
    <!-- horizontal axis -->
    <g>
        <line
            class="axis"
            :x1="horizontalAxis.x1"
            :x2="horizontalAxis.x2"
            :y1="horizontalAxis.y1"
            :y2="horizontalAxis.y2" />
        <!-- horizontal axis title -->        
        <text
            class="axis-title"
            :x="horizontalAxis.x2"
            :y="horizontalAxis.y2 + 18"
            >Time</text>
    </g>
    <!-- start of SLO window -->
    <burn-event-component
        :width="width"
        :height="height"
        :x="this.margin.left"
        :y1="margin.top"
        :y2="height - margin.bottom"
        color="--secondary-color"
        offset="1">SLO Window Start</burn-event-component>
    <!-- end of SLO window -->
    <burn-event-component
        :width="width"
        :height="height"
        :x="this.width - this.margin.right"
        :y1="margin.top"
        :y2="height - margin.bottom"
        color="--secondary-color"
        offset="5">SLO Window End</burn-event-component>
    <!-- burn line -->
    <g>
        <line
            class="burn-line"
            :x1="d.burnLine.x1"
            :x2="d.burnLine.x2"
            :y1="d.burnLine.y1"
            :y2="d.burnLine.y2" />
    </g>
    <!-- error budget burned -->
    <burn-event-component
        :width="width"
        :height="height"
        :x="d.ebBurnedX"
        :y1="margin.top"
        :y2="height - margin.bottom"
        color="--brand-red"
        offset="4">Error Budget Exhausted</burn-event-component>
    <!-- long window alert burned -->
    <burn-event-component
        :width="width"
        :height="height"
        :x="d.longAlertX"
        :y1="margin.top"
        :y2="height - margin.bottom"
        color="--brand-green"
        offset="3">Long Window Alert</burn-event-component>
    <!-- short window alert burned -->
    <burn-event-component
        :width="width"
        :height="height"
        :x="d.shortAlertX"
        :y1="margin.top"
        :y2="height - margin.bottom"
        color="--brand-purple"
        offset="2">Short Window Alert</burn-event-component>
</svg>