.event line {
    stroke: var(--foreground-color);
    stroke-width: 1px;
}

.event text {
    font-family: var(--body-font-family);
    fill: var(--foreground-color);
    font-size: 0.9rem;
    alignment-baseline: middle;
    text-shadow: 0px 0px 3px var(--background-color);
}

.event tspan:not(:first-child) {
    font-size: 0.8em;
}

.event .burn-event-arrow {
    fill: var(--foreground-color);
}
