<svg v-bind:viewBox="viewBox" xmlns="http://www.w3.org/2000/svg">
    <horizontal-axis-component
        :x1="leftX"
        :x2="rightX"
        :y="bottomY">
        Time
    </horizontal-axis-component>
    <vertical-axis-component
        :x="leftX"
        :y1="topY"
        :y2="bottomY">
        Error Budget Consumption
    </vertical-axis-component>
    <!-- burn line -->
    <g>
        <line
            class="burn-line"
            :x1="leftX"
            :x2="burnedX"
            :y1="bottomY"
            :y2="topY" />
    </g>
    <!-- end of SLO window -->
    <burn-event-component
        :width="width"
        :height="height"
        :x="width - margin.right"
        :y1="margin.top"
        :y2="height - margin.bottom"
        color="--secondary-color"
        offset="2">
        <tspan>End of the compliance period</tspan>
        <tspan>{{ sloWindowBudgetBurn.eventCountL10n }} failures</tspan>
        <tspan>in {{ sloWindowBudgetBurn.humanTime }}</tspan>
        <tspan v-if="sloWindowBudgetBurn.cost">costing {{ sloWindowBudgetBurn.costL10n }}</tspan>
    </burn-event-component>
    <!-- error budget burned -->
    <burn-event-component
        :width="width"
        :height="height"
        :x="burnedX"
        :y1="margin.top"
        :y2="height - margin.bottom"
        color="--brand-red"
        offset="3">
        <tspan>Error Budget Exhausted</tspan>
        <tspan>{{ errorBudgetBurn.eventCountL10n }} failures</tspan>
        <tspan>in {{ errorBudgetBurn.humanTime }}</tspan>
        <tspan v-if="errorBudgetBurn.cost">costing {{ errorBudgetBurn.costL10n }}</tspan>
    </burn-event-component>
</svg>