<div class="chat-thread-component">
    <div class="input-group">
        <label>
            <input type="checkbox" v-model="showSystemMessages">
            Show System Messages
        </label>
        <div class="button-bar">
            <button @click="scrollToTop()">⭱</button>
            <button @click="scrollToBottom()">⭳</button>
        </div>
    </div>
    <div class="chat-thread-component__thread" ref="threadContainerRef">
        <div v-for="bead of thread.beads"
            :class="`chat-thread-component__bead chat-thread-component__bead--${bead.role}`" :hidden="bead.role === 'system' && !showSystemMessages">
            <div class="chat-thread-component__role">
                {{ bead.role }}
            </div>
            <markdown-component class="frost chat-thread-component__contents" :markdown="bead.content"></markdown-component>
        </div>
    </div>
</div>