.chat-thread-component {}

.chat-thread-component__message-container {
    display: flex;
    flex-direction: column;
}

.chat-thread-component__message {
    max-width: 80%;
    margin: var(--gap2) 0;
}

.chat-thread-component__message-role {
    font-family: var(--title-font-family);
    text-transform: uppercase;
}

.chat-thread-component__message-contents {
    padding: var(--gap) var(--gap2);
    box-shadow: 0.2em 0.2em 0.3em rgb(0 0 0 / 45%);
    margin: var(--bthick) 0;
    align-self: flex-start;
    color: var(--background-color);
}

.chat-thread-component__message-contents:last-child {
    border-bottom-left-radius: var(--bradius2);
    border-bottom-right-radius: var(--bradius2);
}

.chat-thread-component__message--system {
    align-self: center;
}

.chat-thread-component__message--system .chat-thread-component__message-contents {
    background-color: var(--brand-purple);
}

.chat-thread-component__message--system .chat-thread-component__message-role {
    color: var(--brand-purple);
    text-align: center;
}

.chat-thread-component__message--user {
    align-self: flex-end;
}

.chat-thread-component__message--user .chat-thread-component__message-contents {
    background-color: var(--secondary-color);
}

.chat-thread-component__message--user .chat-thread-component__message-role {
    color: var(--secondary-color);
    text-align: right;
}

.chat-thread-component__message--assistant .chat-thread-component__message-contents {
    background-color: var(--brand-green);
}

.chat-thread-component__message--assistant .chat-thread-component__message-role {
    color: var(--brand-green);
}
