.chat-thread-component {
    & h1,
    & h2 {
        color: inherit;
    }
}

.chat-thread-component__thread {
    display: flex;
    flex-direction: column;
    gap: var(--gap2);
    max-height: 50vh;
    padding: 0 var(--gap2);
    overflow-y: auto;
    scroll-behavior: smooth;
    margin: 0 calc(var(--gap2) * -1);
}

.chat-thread-component__role {
    font-family: var(--title-font-family);
    text-transform: uppercase;
}

.chat-thread-component__contents {
    padding: var(--gap) var(--gap2);
    box-shadow: 0.2em 0.2em 0.3em rgb(0 0 0 / 45%);
    margin: var(--bthick) 0;
    align-self: flex-start;
    color: var(--background-color);
}

.chat-thread-component__contents:last-child {
    border-bottom-left-radius: var(--bradius);
    border-bottom-right-radius: var(--bradius);
}

.chat-thread-component__bead--system {
    & .chat-thread-component__role {
        color: var(--brand-purple);
    }

    & .chat-thread-component__contents {
        background-color: var(--brand-purple);
    }
}

.chat-thread-component__bead--user {
    align-self: flex-end;
    & .chat-thread-component__role {
        color: var(--secondary-color);
        text-align: right;
    }
    & .chat-thread-component__contents {
        background-color: var(--secondary-color);
    }
}

.chat-thread-component__bead--assistant {
    & .chat-thread-component__role {
        color: var(--brand-green);
    }
    & .chat-thread-component__contents {
        background-color: var(--brand-green);
    }
}
