<div class="consumption-component">

    <fieldset>
        <legend>Basics</legend>
        <label for="consumption-display-name">
            Name
            <help-component>
                <p>
                    Give a name to this consumption to indicate how {{ consumption.consumer.displayName }}
                    uses services.
                </p>
            </help-component>
        </label>
        <input
            type="text"
            id="consumption-display-name"
            v-model="consumption.displayName">

        <label for="consumption-description">
            Description
        </label>
        <textarea
            id="consumption-description"
            placeholder="e.g., Get user data from API"></textarea> 
    </fieldset>

    <h4>
        Consumes
        <help-component>
            <p>
                Select all the services that are required for {{ consumption.consumer }}
                to {{ consumption.displayName }}.
            </p>
            <p>
                If there are services that are missing, you can go back and add them.
            </p>
        </help-component>
    </h4>
    <div class="info block" v-if="consumption.consumer.assessment.services.length === 0">
        <p>
            There are currently no services declared to consume.
        </p>
        <p v-if="consumption.consumer.assessment.providers.length">
            Please add some services to providers first.
        </p>
        <p v-else>
            Please add some providers first. Then add some services to them.
        </p>
    </div>
    <div class="warning block" v-if="consumption.dependencies.length === 0">
        <p>
            This consumption does not depend on any services.
        </p>
    </div>
    <fieldset v-for="provider in consumption.consumer.assessment.providers">
        <legend :title="provider.description">{{ provider.displayNameWithFallback }}</legend>
        <div v-if="!provider.services.length">
            <div class="warning block">
                No service defined.
            </div>
        </div>
        <div v-for="service of provider.services">
            <label :title="service.description">
                <input
                    type="checkbox"
                    :checked="service.isConsumedBy(consumption)"
                    @change="service.setConsumedBy(consumption, $event.target.checked)">
                {{ service.displayNameWithFallback }}
            </label>
        </div>
    </fieldset>
</div>