<div class="consumption-component">

    <fieldset>
        <legend>Basics</legend>
        <label for="consumption-display-name">
            Name
            <help-component>
                <p>
                    Give a name to this consumption to indicate how {{ consumption.consumer.displayName }}
                    uses services.
                </p>
            </help-component>
        </label>
        <input
            type="text"
            id="consumption-display-name"
            v-model="consumption.displayName">

        <label for="consumption-description">
            Description
        </label>
        <textarea
            id="consumption-description"
            placeholder="e.g., Get user data from API"></textarea> 
    </fieldset>

    <h4>
        Consumes
        <help-component>
            <p>
                Select all the services that are required for {{ consumption.consumer }}
                to {{ consumption.displayName }}.
            </p>
            <p>
                If there are services that are missing, you can go back and add them.
            </p>
        </help-component>
    </h4>
    <fieldset v-for="(provider, pi) in consumption.consumer.assessment.providers">
        <legend :title="provider.description">{{ provider.displayName }}</legend>
        <div v-for="(service, si) of provider.services">
            <label :for="`service-${pi}-${si}`" :title="service.description">
                <input
                    type="checkbox"
                    :id="`service-${pi}-${si}`"
                    :checked="service.isConsumedBy(consumption)"
                    @change="service.setConsumedBy(consumption, $event.target.checked)">
                {{ service.displayName }}
            </label>
        </div>
    </fieldset>
</div>