<div class="provider-component">
    <id-component :entity="consumer"></id-component>
    <fieldset>
        <legend>Basics</legend>
        <div class="input-group">
            <label for="consumer-display-name">
                Name
                <help-component>
                    You can name this consumer to be easier to recognize.
                </help-component>
            </label>
            <input id="consumer-display-name" type="text" v-model="consumer.displayName">
        </div>
        <div class="input-group">
            <label for="consumer-description">
                Description
                <help-component>
                    Add some description about this consumer, their mission, and what defines success for them.
                    In the consumption section you can add more info about why this consumer uses different services.
                </help-component>
            </label>
            <textarea id="consumer-description" v-model="consumer.description"></textarea>
        </div>
    </fieldset>
    <div class="input-group">
        <label for="consumer-type">
            Type
            <help-component>
                <p>A service consumer can be any of these types:</p>
                <ul>
                    <li><strong>Group</strong>: a group of 1 or more <em>people</em></li>
                    <li><strong>Component</strong>: something that actually runs and deploys independently (e.g., a database, microservice, etc.)</li>
                    <li><strong>System</strong>: a logical grouping of components</li>
                </ul>
                <p>
                    Read more <ext-link href="https://blog.alexewerlof.com/p/service-level-terminology">here</ext-link>.
                </p>        
            </help-component>
        </label>
        <select id="consumer-type" v-model="consumer.type">
            <option
                v-for="possibleType of consumer.constructor.possibleTypes">
                {{ possibleType }}
            </option>
        </select>
    </div>
</div>