<dialog class="cookie-popup" ref="cookieDialog">
    <p>
        This site uses cookies from Google to deliver its services and to analyze traffic.
        Information about your use of this site is shared with Google. By using this site, you agree to its use of cookies.
    </p>
    <p>
        Tip:
        If you want to disable Google Analytics <em>on all sites</em>, you can use 
        <ext-link href="https://tools.google.com/dlpage/gaoptout">
            Google's official workaround</ext-link>.
    </p>
    <ext-link href="https://policies.google.com/technologies/cookies">
        Learn More</ext-link>
    &nbsp;
    <button type="button" @click="hide">Got it</button>
</dialog>