<div class="dependency-component">
    <id-component :entity="dependency"></id-component>
    <fieldset class="b-mar-gap2">
        <legend>Failure ({{ dependency.failures.length }})</legend>
        <div class="warning block" v-if="dependency.failures.length === 0">
            No failure is identified for this dependency.
            Add some failures in order to be able to tie them to metrics.
        </div>
        <select
            v-if="dependency.failures.length"
            v-model="dependency.failures.selected"
        >
            <option v-for="failure in dependency.failures" :value="failure">
                {{ failure.symptom || 'Unknown symptom'}}
            </option>
        </select>
        <div class="input-group">
            <div class="button-bar">
                <button @click="dependency.failures.pushNew()">
                    <icon-component name="add_circle"></icon-component>
                    Add
                </button>
                <button
                    class="button--danger"
                    @click="dependency.failures.removeSelected()"
                    :disabled="!dependency.failures.selected">
                    <icon-component name="delete"></icon-component>
                    Remove
                </button>
            </div>
        </div>
    </fieldset>
    <div class="well" v-if="dependency.failures.selected">
        <failure-component :failure="dependency.failures.selected"></failure-component>
    </div>
</div>
