.error-budget-component {
    display: grid;
}

.error-budget-component div:nth-child(2n) {
    box-sizing: border-box;
    border-left: 1px solid var(--brand-red);
    padding: 0.2em;
}

.error-budget-component__error-caption {
    color: var(--brand-red);
}

.error-budget-component__fill--bad {
    background-color: var(--brand-red);
}

.error-budget-component__fill--good {
    background-color: var(--brand-green);
    color: var(--background-color);
}

.error-budget-component__valid-caption {
    grid-column: span 2;
    color: var(--primary-color);
    border: 1px solid currentColor;
    margin-top: 0.5em;
    text-align: center;
    border-top: none;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}
