<div class="error-budget-component" :style="errorBudgetGridTemplateColumns">
    <div></div>
    <div class="error-budget-component__error-caption">
        A maximum of {{ errorBudget.eventCountL10n }}
        bad {{ errorBudget.normUnit }} are allowed
        <span v-if="errorBudget.cost">costing {{ errorBudget.costL10n }}</span>
    </div>

    <div class="error-budget-component__fill--bad" :style="errorBudgetFillWidth"></div>
    <div class="error-budget-component__fill--good">
        At least
        {{ numL10n(goodEventCount) }}
        good
        {{ errorBudget.normUnit }}
        are guaranteed
    </div>

    <div class="error-budget-component__valid-caption">
        {{ numL10n(validEventCount) }}
        valid
        {{ errorBudget.normUnit }}
        in
        {{ errorBudget.humanTime }}
    </div>
</div>
