<div>
    <div class="annotated">
        <div class="annotated__controls">
            <h2>Description</h2>
            <p>{{ metric.description }}</p>
        </div>

        <div class="annotated__controls">
            <h3>Data Point Type</h3>
            <p>
                <label>
                    <input type="radio" v-model="metric.isNumeric" :value="false">
                    Boolean
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" v-model="metric.isNumeric" :value="true">
                    Numeric
                </label>
            </p>
        </div>
        <div class="annotated__help">
            <p>
                What is the type of each data point in your metric?
            </p>
            <p>
                For example, if you are measuring the number of requests, you are collecting numeric data points.
            </p>
            <p>
                If you are measuring the availability of a service, you are collecting boolean data points.
            </p>
        </div>

    </div>

    <div class="annotated" v-if="metric.isNumeric">
        <div class="annotated__controls">
            <h4>Data Point Unit</h4>
            <input type="text" v-model="metric.numericUnit">
        </div>
        <div class="annotated__help">
            <p>
                What is the unit of measurement?
            </p>
            <p>
                For example, if you are measuring the number of requests, the unit is "requests".
            </p>
            <p>
                If you are measuring request latency, the unit may be "milliseconds" or "seconds".
            </p>
        </div>
    </div>

    <condition-component :condition="metric.condition"></condition-component>

</div>