<div class="failure-sort-component">
    <TransitionGroup name="failure-sort-component__failure">
        <div
            v-for="(failure, index) of failures"
            :key="failure"
            class="failure-sort-component__failure surface"
            draggable="true"
            @dragstart="startDrag($event, index)"
            @drop="onDrop($event, index)"
            @dragenter.prevent
            @dragover.prevent
            >
                <div class="subtle-hint">{{ failure }} (impact level: {{ failure.impactLevel }})</div>
                <p>
                    <strong>Consequence:</strong> {{ failure.consequence }}
                    <br>
                    <strong>Business Impact:</strong> {{ failure.businessImpact }}</p>
                </p>
        </div>
    </TransitionGroup>
</div>