<div class="failure-sort-component surface">
    <h2>
        Sort Risks
        <help-component>
            <p>
                Not all failures are created equal. Some failures have a greater impact on the business than others.
                This exercise will help you understand the relative impact of different failures.
            </p>
        </help-component>
    </h2>
    <p>
        Drag and drop the risks into the order of their business impact.
        The most impactful risk should be at the top of the list.
    </p>
    <div class="well failure-sort-component__failures">
        <TransitionGroup name="failure-sort-component__failure">
            <div
                v-for="(failure, index) of assessment.failures"
                :key="failure"
                class="failure-sort-component__failure frost"
                draggable="true"
                @dragstart="startDrag($event, index)"
                @drop="onDrop($event, index)"
                @dragenter.prevent
                @dragover.prevent
                >
                <h2>{{ index + 1 }}. {{ failure.businessImpact }}</h2>
                <p v-text="failure"></p>
                <div class="button-bar">
                    <button
                        :disabled="index === 0"
                        @click="swapFailures(index, 0)">
                        Move To Top
                    </button>
                    <button
                        :disabled="index === 0"
                        @click="swapFailures(index, index - 1)">
                        Move Up
                    </button>
                    <button
                        :disabled="index === assessment.failures.length - 1"
                        @click="swapFailures(index, index + 1)">
                        Move Down
                    </button>
                    <button
                        :disabled="index === assessment.failures.length - 1"
                        @click="swapFailures(index, assessment.failures.length - 1)">
                        Move To Bottom
                    </button>
                </div>
            </div>
        </TransitionGroup>
    </div>
</div>