.feedback-blob {
    position: fixed;
    bottom: var(--gap2);
    right: var(--gap2);
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: var(--gap) var(--gap2);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 1.2em;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.feedback-blob:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    color: var(--background-color);
}