<footer>
    <ul class="link-list">
        <li>
            <ext-link href="https://blog.alexewerlof.com/p/slc">Intro</ext-link>
        </li>
        <li>
            <ext-link href="https://github.com/userpixel/slc/">Code</ext-link>
        </li>
        <li>
            <ext-link href="https://github.com/userpixel/slc/issues">Report issues</ext-link>
        </li>
        <li>
            <ext-link href="https://blog.alexewerlof.com/p/rem">REM</ext-link>
        </li>
        <li>
            <ext-link href="https://forms.gle/CspQc8AGqTmtG2AD7">Feedback</ext-link>
        </li>
    </ul>

    <p>
        This web app took hundreds of hours of
        <ext-link href="https://www.alexewerlof.com/who">my</ext-link>
        private time over 12 months to build.
        I hope it helps you.
    </p>
    <p>
        To support my work, you can subscribe to
        <ext-link href="https://blog.alexewerlof.com/">my newsletter</ext-link>.
        This also gives you full access to my online book on this topic:
        <ext-link href="https://blog.alexewerlof.com/p/rem">Reliability Engineering Mindset</ext-link>.
        <br />
        <em>
            Right now, you can get 20% off via
            <ext-link href="https://blog.alexewerlof.com/protipsdiscount">this link</ext-link>.
        </em>
    </p>
    <p>
        <ext-link href="https://alexewerlof.com">
            <img alt="logo" class="footer__logo" src="/img/logo.png" />
        </ext-link>
        <br />
        <ext-link href="https://raw.githubusercontent.com/alexewerlof/slc/refs/heads/main/LICENSE">
            &copy; 2024 Alex Ewerlöf
        </ext-link>
    </p>
</footer>