<header>
    <transition>
        <slot></slot>
    </transition>
    <a href="/">
        <h1>
            <img src="img/icon.svg" alt="Service Level Calculator Logo" class="logo" />
            Service Level Calculator
        </h1>
    </a>
    <ul class="top-nav only-mobile">
        <li><a href="#sli-title">SLI</a></li>
        <li><a href="#slo-title">SLO</a></li>
        <li><a href="#error-budget-title">Error Budget</a></li>
        <li><a href="#alert-title">Alerting</a></li>
        <li><a href="#share-title">Share</a></li>
    </ul>
</header>