@import url('variables.css');

.help-component-button {
    display: inline-block;
    font-family: inherit;
    height: 100%;
    background-color: transparent;
    color: currentColor;
    cursor: help;
    margin: 0 0.5em;
}

.help-component-contents {
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--body-font-family);
    font-weight: normal;
    background-color: var(--foreground-color);
    color: var(--background-color);
    border-radius: 0.3rem;
    margin: 1rem 0;
}
