.hero-component {
    /*background-image: linear-gradient(to bottom, var(--background-color), var(--background-darker));*/
    min-height: 500px;
    background-size: cover;
    box-sizing: border-box;
    font-size: 2em;
    text-shadow: 0 0 14px var(--background-color);
}