.inline-select {
}

.inline-select__buttons {
    display: inline-block;
    border: var(--bthick) solid var(--ui-border);
    margin: 0;
    border-radius: var(--bradius);
    box-shadow: 0 0 var(--gap) var(--bthick) var(--background-darker);
}

.inline-select__button {
}

.inline-select__button--inactive {
    background-color: inherit;
    color: inherit;
    border: none;
}
