.lint-component {
    border: 1px solid var(--divider-color);
    border-radius: var(--bradius);
    padding: var(--gap);

    .block {
        margin-bottom: 0;
    }
}

.lint-component__header {
    cursor: pointer;
}

.lint-component__count {
    display: inline-block;

    span {
        margin-left: 0.2em;
    }

    & + & {
        margin-left: var(--gap);
    }
}

.lint-component__count--error {
    color: var(--brand-red);
}

.lint-component__count--warn {
    color: var(--brand-yellow);
}

.lint-component__count--info {
    color: var(--brand-blue);
}
