<div class="metric-component">
    <id-component :entity="metric"></id-component>
    <lint-component :lint="metric.lint"></lint-component>
    <h3>Service</h3>
    <markdown-component :markdown="metric.service.markdownDisplayName"></markdown-component>
    <fieldset>
        <legend>Basics</legend>
        <div class="input-group">
            <label for="metric-input">Name</label>
            <input type="text" id="metric-input" placeholder="Enter metric name" v-model="metric.displayName" />
        </div>
        <div class="input-group">
            <label for="metric-description">Description</label>
            <textarea
                id="metric-description"
                type="text"
                placeholder="Enter metric description"
                v-model="metric.description">
            </textarea>
        </div>
    </fieldset>
    <h3>
        Symptoms
        <help-component>
            <p>
                Mark all the failures which their symptoms are measured by this metric.
            </p>
        </help-component>
    </h3>
    <fieldset v-for="dependency of metric.service.dependencies">
        <legend title="Task">{{ dependency.task }}</legend>
        <div v-if="dependency.failures.length === 0">
            No failure is identified for this dependency.
        </div>

        <div v-for="failure of dependency.failures" class="input-group" :title="failure">
            <label>
                <input
                    type="checkbox"
                    :checked="metric.isFailureLinked(failure)"
                    @change="metric.setFailure(failure, $event.target.checked)">
                    {{ failure.symptom }}
            </label>
        </div>
    </fieldset>
</div>