<div class="provider-component">
    <id-component :entity="provider"></id-component>
    <fieldset>
        <legend>Basics</legend>
        <div class="input-group">
            <label for="provider-display-name">
                Name
                <help-component>
                    <p>
                        <ext-link href="https://blog.alexewerlof.com/p/service-level-terminology">
                            Provider
                        </ext-link>
                        refers to the entity that provides the service (i.e., capabilities, features, solutions)
                        to the consumers.
                    </p>
                    <p>
                        Give your provider a name to be able to recognize it.
                        The description is optional but can be useful to provide more context. 
                    </p>
                    <p>
                        A provider may have many components but they are irrelevant to the consumers.
                        As far as the consumer is concerned, the provider is responsible to provide a service that they
                        consume to achieve a goal.
                    </p>
                </help-component>
            </label>
            <input
                id="provider-display-name"
                type="text"
                placeholder="e.g., Payment API, User Storage, etc."
                v-model="provider.displayName">
        </div>
        <div class="input-group">
            <label for="provider-description">
                Description
                <help-component>
                    <p>
                        The description is optional but can be useful to provide more context.
                        It can be a short paragraph or a link to a document.
                    </p>
                </help-component>
            </label>
            <textarea id="provider-description" v-model="provider.description"></textarea>
        </div>
    </fieldset>
    <div class="input-group">
        <label for="provider-type-selector">
            Type
            <help-component>
                <p>A service provider can be any of these types:</p>
                <ul>
                    <li><strong>Group</strong>: a group of 1 or more people</li>
                    <li><strong>Component</strong>: something that actually runs and deploys independently (e.g., a database, microservice, etc.)</li>
                    <li><strong>System</strong>: a logical grouping of components</li>
                </ul>
                <p>
                    Generally, the service levels are set at the boundaries of what the service owns.
                    The consumer is abstracted away from the implementation details (e.g., the components).
                    Read more <ext-link href="https://blog.alexewerlof.com/p/service-level-terminology">here</ext-link>.
                </p>
            </help-component>
        </label>
        <select id="provider-type-selector" v-model="provider.type">
            <option
                v-for="possibleType of provider.constructor.possibleTypes">{{ possibleType }}</option>
        </select>
    </div>
</div>