<div class="service-component">
    <fieldset>
        <legend>Basics</legend>
        <div class="input-group">
            <label for="service-name">
                Name
                <help-component>
                    <p>
                        Give your service provider a name to be able to recognize it.
                        The description is optional but can be useful to provide more context.
                    </p>            
                </help-component>
            </label>
            <input
                id="service-name"
                type="text"
                v-model="service.displayName">
        </div>
        <div class="input-group">
            <label for="service-description">
                Description
                <help-component>
                    <p>
                        The description is optional but can be useful to provide more context.
                        It can be a short paragraph or a link to a document.
                    </p>
                </help-component>
            </label>
            <textarea
                id="service-description"
                v-model="service.description"></textarea>
        </div>
    </fieldset>
    <div class="input-group">
        <label>
            Type
            <help-component>
                <p>A service can be any of these types:</p>
                <ul>
                    <li><strong>Automated</strong>: a service that’s fully automated using software/hardware</li>
                    <li><strong>Manual</strong>: a manual service is either too expensive to automate or requires human intervention or judgement</li>
                    <li><strong>Hybrid</strong>: a mix of both manual and automated</li>
                </ul>
                <p>
                    Generally, the service levels are used for automated services but this categorization exists to signify that even the services that require manual effort can be measured and improved using service levels.
                    Read more <ext-link href="https://blog.alexewerlof.com/p/service-level-terminology">here</ext-link>.
                </p>
            </help-component>
        </label>
        <select v-model="service.type">
            <option
                v-for="possibleType of service.constructor.possibleTypes">{{ possibleType }}</option>
        </select>
    </div>

    <div class="input-group">
        <h4>
            Consumed By
            <help-component>
                <p>
                    What consumptions depend on this service and for which consumer?
                </p>
                <p>
                    If there are consumers that are missing, you can add them.
                </p>
            </help-component>
        </h4>
        <fieldset v-for="consumer in service.provider.assessment.consumers">
            <legend :title="consumer.description">{{ consumer.displayName }}</legend>
            <div v-for="consumption of consumer.consumptions">
                <label :title="consumption.description">
                <input
                    type="checkbox"
                    :checked="service.isConsumedBy(consumption)"
                    @change="service.setConsumedBy(consumption, $event.target.checked)">
                    {{ consumption.displayName }}
                </label>
            </div>
        </fieldset>
    </div>
</div>