<div class="service-metrics-component">
    <fieldset class="b-mar-gap2">
        <legend>Metrics ({{ service.metrics.length }})</legend>
        <select
            v-if="service.metrics.length"
            v-model="service.metrics.selected"
        >
            <option v-for="metric of service.metrics" :value="metric">
                {{ metric }}
            </option>
        </select>
        <div class="button-bar">
            <button
                @click="service.metrics.pushNew()"
            >
                <icon-component name="add_circle"></icon-component>
                Add
            </button>
            <button
                class="button--danger"
                @click="service.metrics.removeSelected()"
                :disabled="!service.metrics.length"
            >
                <icon-component name="delete"></icon-component>
                Remove
            </button>
        </div>
    </fieldset>
    <div v-if="service.metrics.selected" class="well">
        <metric-component :metric="service.metrics.selected"></metric-component>
    </div>
</div>