.show-hide-component {
    margin: var(--gap2);
    margin-top: 0;
    box-shadow: -1px -1px 7px 0px var(--background-darker);
}

.show-hide-component--visible .show-hide-component__header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.show-hide-component__header {
    border-radius: var(--bradius);
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
    font-weight: 600;
    padding: var(--gap);
}

.show-hide-component__title {
    font-weight: 600;
    font-family: var(--title-font-family);
    margin-left: 0.4em;
}

.show-hide-component__name {
    padding-left: 0.4em;
}

.show-hide-component__icon {
    font-size: 0.8em;
}

.show-hide-component__contents {
    border: var(--bthick) solid var(--divider-color);
    border-top: none;
    border-radius: var(--bradius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.show-hide-component .show-hide-component {
    margin: var(--gap3);
}