.show-hide-component {
    border: 2px solid var(--primary-color);
    margin: 1em;
    margin-top: 0;
    box-shadow: -1px -1px 7px 0px var(--background-darker);
}

.show-hide-component__title {
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.5em;
}

.show-hide-component__icon {
    font-size: 0.8em;
}

.show-hide-component__contents {
    
}