<div class="formula__fraction">
    <div class="formula__fraction--top">
        <code>
            <span class="funct">count</span>
            <span class="punct">(</span>
            <label for="sli-event-unit">
                <span class="exprs">{{ unit }}</span>
            </label>
            <span class="punct">, </span>
            <span v-if="lowerBound">
                <label for="lower-threshold-input" title="Lower Threshold">
                    <span class="exprs">{{ lowerThreshold }}</span>
                </label>
                <label for="lower-bound-type">
                    <span class="punct">{{ entity2symbolNorm(lowerBound) }}</span>
                </label>
            </span>
            
            <label for="sli-good-input"><span class="exprs">{{ good }}</span></label>
            
            <span v-if="upperBound">
                <label for="upper-bound-type">
                    <span class="punct">{{ entity2symbolNorm(upperBound) }}</span>
                </label>
                <label for="upper-threshold-input" title="Upper Threshold">
                    <span class="exprs">{{ upperThreshold }}</span>
                </label>
            </span>
            <span v-if="isNum(windowSec)">
                <span class="punct">, </span>
                <label :for="timeLabelId">
                    <span class="const">
                        {{ humanSec(windowSec) }}
                    </span>
                </label>
            </span>
            <span class="punct">)</span>
        </code>
        <span class="invis"> /</span>
    </div>
    <div class="formula__fraction--bottom">
        <code>
            <label for="sli-event-unit">
                <span class="funct">count</span>
            </label>
            <span class="punct">(</span>
            <label for="sli-event-unit">
                <span class="exprs">{{ unit }}</span>
            </label>
            <span v-if="valid">
                <span class="punct">, </span>
                <label for="sli-valid-input">
                    <span class="exprs">{{ valid }}</span>
                </label>
            </span>
            <span class="punct"></span>
            <span v-if="isNum(windowSec)">
                <span class="punct">, </span>
                <label :for="timeLabelId">
                    <span class="const">
                        {{ humanSec(windowSec) }}
                    </span>
                </label>
            </span>
            <span class="punct">)</span>
        </code>
    </div>
</div>