<code>
    <span class="funct">Percentage_of</span>
    <span>&nbsp;</span>
    <label for="sli-event-unit">
        <span class="exprs">{{ eventUnit }}</span>
    </label>
    <span>&nbsp;</span>
    <span class="funct">where</span>
    <span>&nbsp;</span>
    <span v-if="lowerBound">
        <label for="lower-threshold-input" title="Lower Threshold">
            <span class="const">{{ lowerThreshold }}</span>
        </label>
        <label for="sli-metric-unit">
            <span class="exprs">{{ metricUnit }}</span>
        </label>
        <label for="lower-bound-type">
            <span>&nbsp;</span>
            <span class="punct">{{ entity2symbolNorm(lowerBound) }}</span>
            <span>&nbsp;</span>
        </label>
    </span>
    
    <label for="sli-metric-name"><span class="exprs">{{ metricName }}</span></label>
    
    <span v-if="upperBound">
        <label for="upper-bound-type">
            <span>&nbsp;</span>
            <span class="punct">{{ entity2symbolNorm(upperBound) }}</span>
            <span>&nbsp;</span>
        </label>
        <label for="upper-threshold-input" title="Upper Threshold">
            <span class="const">{{ upperThreshold }}</span>
        </label>
        <label for="sli-metric-unit">
            <span class="exprs">{{ metricUnit }}</span>
        </label>
    </span>
    <span>&nbsp;</span>
    <span class="funct">during</span>
    <span>&nbsp;</span>
    <label :for="timeLabelId">
        <span class="const">
            {{ timePeriod }}
        </span>
    </label>
</code>
