.tabs-component {
    justify-content: left;
    border-bottom: var(--bthick2) solid var(--primary-color);
    padding-bottom: 0;
}

.tabs-component__tab {
    font-family: var(--title-font-family);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
