<div class="task-component">
    <id-component :entity="task"></id-component>
    <lint-component :lint="task.lint"></lint-component>
    <h3>Consumer</h3>
    <markdown-component :markdown="task.consumer.markdownDisplayName"></markdown-component>
    <fieldset>
        <legend>Basics</legend>
        <label for="task-display-name">
            Name
            <help-component>
                <p>
                    Give a name to this task to indicate how {{ task.consumer.displayName }}
                    uses services.
                </p>
            </help-component>
        </label>
        <input
            type="text"
            id="task-display-name"
            v-model="task.displayName">

        <label for="task-description">
            Description
        </label>
        <textarea
            id="task-description"
            placeholder="e.g., Get user data from API"></textarea> 
    </fieldset>

    <h4>
        Consumes
        <help-component>
            <p>
                Select all the services that are required for {{ task.consumer }}
                to {{ task.displayName }}.
            </p>
            <p>
                If there are services that are missing, you can go back and add them.
            </p>
        </help-component>
    </h4>
    <fieldset v-for="provider in task.consumer.assessment.providers">
        <legend :title="provider.description">{{ provider.markdownDisplayName }}</legend>
        <div v-if="!provider.services.length">
            No service defined!
        </div>
        <div v-for="service of provider.services">
            <label :title="service.description">
                <input
                    type="checkbox"
                    :checked="service.isConsumedBy(task)"
                    @change="service.setConsumedBy(task, $event.target.checked)">
                {{ service.markdownDisplayName }}
            </label>
        </div>
    </fieldset>
</div>