<div class="book-cover-component">
    <ext-link class="book-cover-component__book" href="https://blog.alexewerlof.com/p/rem">
        <img
            class="book-cover-component__cover"
            alt="Reliability Engineering Mindset"
            src="/img/rem-cover.png"
            width="100%"
        >
        <div class="book-cover-component__left">
            <div class="book-cover-component__left-text">
                Reliability Engineering Mindset - Alex Ewerlöf
            </div>
        </div>
    </ext-link>
</div>
