.code-block-component {
    overflow: auto;
    position: relative; /* for the button to show properly */
    background-color: var(--background-darker);
    border: var(--brand-purple) solid var(--bthick);
    border-radius: var(--bradius);
    box-shadow: 0 0 var(--gap) var(--background-darker);
}

.code-block-component label {
    font-family: var(--code-font-family);
}

.code-block-component button:hover,
.code-block-component button:focus {
    opacity: 1;
}

.code-block-component__top-bar {
    padding: var(--gap);
    border-bottom: var(--bthick) dashed var(--brand-purple);
    display: flex;
}

.code-block-component__title {
    flex-grow: 1;
    font-family: var(--code-font-family);
    color: var(--brand-purple);
}

.code-block-component__buttons button {
    background-color: var(--brand-purple);
}

.code-block-component__code-container {
    padding: var(--gap);
    font-family: var(--code-font-family);
    color: var(--brand-purple);
}

.code-block-component__code {
    overflow-wrap: break-word;
}
