.footer-component {
    border-top: var(--bthick) solid var(--divider-color);
    padding: var(--gap6) var(--gap2);
    text-align: center;
    font-size: 0.9em;
    background-color: var(--background-darker);
    color: var(--primary-color);
}

.footer-component__logo {
    width: 10em;
}

.footer-component__flag {
    text-transform: uppercase;
    color: var(--secondary-color);
}

.footer-component__flag img {
    height: 1em;
    position: relative;
    top: 0.13em;
}
