.icon-component {
    &.icon-component--google {
        font-size: 1.25em;
        vertical-align: sub;
    }
    &.icon-component--unicode {
        width: 1em;
        text-align: center;
        font-weight: normal;
        font-style: normal;
        font-size: 1.25em;
        line-height: 1;
        display: inline-block;
    }
}
