.inline-select-component {
    display: block;
}

.inline-select-component__buttons {
    display: inline-block;
    border: var(--bthick) solid var(--ui-border);
    border-radius: var(--bradius2);

    & .button-bar {
        justify-content: left;
        margin: 0;
        gap: 0;
    }
}

.inline-select-component__buttons button {
    margin: 0;
}

.inline-select-component__button--inactive {
    box-shadow: none;
    background-color: inherit;
    color: inherit;
    border: none;
}

.inline-select-component__buttons button + button {
    margin-left: 0;
}
