.inline-select-component__buttons {
    display: inline-block;
    border: var(--bthick) solid var(--ui-border);
    margin: 0;
    border-radius: var(--bradius);
}

.inline-select-component__buttons button {}

.inline-select-component__button--inactive {
    box-shadow: none;
    background-color: inherit;
    color: inherit;
    border: none;
}

.inline-select-component__buttons button + button {
    margin-left: 0;
}
