.readme-banner-component {
    .readme-banner-component__close-button {
        position: absolute;
        right: var(--gap2);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        opacity: 0;
        transition: opacity var(--animation-speed) ease-in-out;

        @media (hover: none) {
            opacity: 0.3;
        }

        .readme-banner-component:hover & {
            opacity: 1;
        }
    }

    .readme-banner-component__content {
        display: flex;
        flex-direction: row;
        gap: var(--gap2);
        align-items: flex-start;

        .readme-banner-component__icon-container {
            font-size: 2em;
        }
    }
}
