<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J0S6RM2D7G"></script>
    <script>
    window.dataLayer ||= []
    function gtag(){dataLayer.push(arguments)}
    gtag('js', new Date());gtag('config', 'G-J0S6RM2D7G');
    </script>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <meta name="description" content="A simple utility for facilitating Service Level Workshops.">
    <meta property="og:title" content="Service Level Workshop">
    <meta property="og:description" content="A simple utility for facilitating Service Level Workshops.">
    <meta property="og:image" content="https://slc.alexewerlof.com/img/icon.png">
    <meta property="og:url" content="https://slc.alexewerlof.com">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" href="../img/icon.png">
    <title>Service Level Workshop</title>
</head>

<body>
    <noscript>
        <p>This web application requires JavaScript to work.</p>
    </noscript>
    <main id="app" v-cloak>
        <header>
            <h1>Service Level Workshop (Alpha)</h1>
        </header>
        <article>
            <section>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th v-for="service of assessment.allServices">
                                {{ service.system.title }}
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th v-for="service of assessment.allServices">
                                {{ service.title }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="consumption of assessment.allConsumptions">
                            <th>{{ consumption.consumer.title }}</th>
                            <th>{{ consumption.title }}</th>
                            <td v-for="service of assessment.allServices">
                                {{ assessment.getDependency(consumption, service)?.failures.length ?? '-' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </article>
        <tabs-component
            v-model:selected-tab="selectedTab"
            :tab-names="tabNames"></tabs-component>
        <div v-if="selectedTab === 'Provider'">
            <div class="annotated">
                <div class="annotated__controls">
                    <div class="button-bar">
                        <button @click="assessment.addNewSystem()">Add New System</button>
                    </div>        
                </div>
                <div class="annotated__help">
                    <p>
                        Before defining service levels, we first need to identify the systems that provide
                        those services.
                    </p>
                    <p>
                        You don't need to list all of your systems.
                        As a rule of thumb start with the consumer-facing services
                        and as you work your way through the UI, you can come back and
                        add any missing systems.
                    </p>
                </div>
            </div>
            <system-view v-for="system of assessment.systems" :system="system"></system-view>
        </div>

        <div v-if="selectedTab === 'Consumers'">
            <div class="annotated">
                <div class="annotated__controls">
                    <div class="button-bar">
                        <button @click="assessment.addNewConsumer()">Add New Consumer</button>
                    </div>
                </div>
                <div class="annotated__help">
                    <p>
                        The consumer can be any system, team, or user that consumes the services offered by the system.
                        In simple words, a consumer has a dependency on the system.
                        Examples include: APIs, applications, authetication, etc.
                    </p>
                    <p>
                        The consumer can itself be a service provider, but in this context it is the consumer of the systems
                        that were listed in the previous tab.
                    </p>
                    <p>
                        There can also be circular dependencies where one team consumes the services of another team but
                        itself provides some services that are consumed by the other team.
                        Those services are outside the scope of defining the service levels for the systems that are listed in the systems tab.
                    </p>
                </div>
            </div>
            <consumer-view v-for="consumer of assessment.consumers" :consumer="consumer"></consumer-view>
        </div>

        <div v-if="selectedTab === 'Failures'">
            <div class="block">
                <dependency-view v-for="dependency of assessment.allDependencies" :dependency="dependency"></dependency-view>
            </div>
        </div>

        <article v-if="selectedTab === 'Risks'">
            <section>
                <h1>Failures</h1>
                <p>What are the all the ways a service consumption can break? What are the consequences for the consumer? How would the consumer notice the symptoms?</p>

                <div v-for="consumption of allConsumptions" :key="consumption.id">
                    <h2>Consumption: {{ consumption }}</h2>
                    <div v-for="service of consumption.dependencies" :key="service.id">
                        <table>
                            <thead>
                                <tr>
                                    <th>Failed Service</th>
                                    <th>Symptom from {{ consumption.consumer }} perspective</th>
                                    <th>Consequence on {{ consumption.name }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="failure of filterFailures(consumption, service)" :key="service.id">
                                    <th>
                                        {{ service }}
                                    </th>
                                    <td>
                                        <input type="text" v-model="failure.symptom">
                                    </td>
                                    <td>
                                        <input type="text" v-model="failure.consequence">
                                    </td>
                                    <td>
                                        <button @click="removeFailure(failure)">Remove Failure</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="button-bar">
                            <button @click="addNewFailure(consumption, service)">Add New Failure for {{ service }}</button>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h1>Risks</h1>
                <p>What are the risks associated with the failures? Sort them based on the impact on the business.</p>
                <table>
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Symptom</th>
                            <th>Consumption</th>
                            <th>Consequence</th>
                            <th>Business Impact</th>
                            <th>Priority</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(failure, index) in failures" :key="failure.id">
                            <td>{{ failure.service || '⚠️TBD' }}</td>
                            <td>{{ failure.symptom || '⚠️TBD' }}</td>
                            <td>{{ failure.consumption || '⚠️TBD' }}</td>
                            <td>{{ failure.consequence || '⚠️TBD' }}</td>
                            <td>
                                <input type="text" v-model="failure.businessImpact">
                            </td>
                            <td>
                                <button @click="failureUp(failure)">🔼</button>
                                <button @click="failureDown(failure)">🔽</button>
                            </td>
                        </tr>
                </table>
            </section>
        </article>
    </main>
    <script type="module" src="index.js" defer async></script>
</body>

</html>