<div class="chat-thread-component">
    <div class="input-group">
        <label>
            <input type="checkbox" v-model="showSystemMessages">
            System Messages
        </label>
        <div class="button-bar button-bar--small">
            <button @click="thread.clear(true)" title="Clear" class="button--danger">
                <icon-component name="delete"></icon-component>
            </button>
            <button @click="scrollToTop()" title="Scroll to top">
                <icon-component name="arrow_upward"></icon-component>
            </button>
            <button @click="scrollToBottom()" title="Scroll to bottom">
                <icon-component name="arrow_downward"></icon-component>
            </button>
        </div>
    </div>
    <div class="chat-thread-component__thread" ref="threadContainerRef">
        <div v-for="bead of thread.beads"
            :class="`chat-thread-component__bead chat-thread-component__bead--${bead.role}`" :hidden="bead.role === 'system' && !showSystemMessages">
            <div class="chat-thread-component__role">
                {{ bead.role }}
            </div>
            <markdown-component v-if="bead.content" class="frost chat-thread-component__contents" :markdown="bead.content"></markdown-component>
            <loading-animation-component v-if="!bead.content"></loading-animation-component>
        </div>
    </div>
</div>