<div class="chat-component">
    <chat-thread-component class="b-mar-gap2" :thread="thread" ref="chatThreadComponent"></chat-thread-component>
    <div class="input-group">
        <div class="input-button-pair">
            <textarea
                type="text"
                v-model="message"
                ref="promptInput"
                placeholder="Type your message here..."
                @keyup.enter="submitPrompt"
                :disabled="isEditDisabled"></textarea>
            <button
                @click="submitPrompt"
                class="button--cta button--large"
                type="button"
                title="Send"
                v-if="!isEditDisabled"
            >
                <icon-component name="send"></icon-component>
            </button>
            <button
                v-if="this.abortController"
                @click="abortCompletion('User aborted completion')"
                class="button--danger button--large"
                title="Stop generation"
            >
                <icon-component name="stop_circle"></icon-component>
            </button>
        </div>
    </div>

</div>