<div class="chat-component">
    <chat-thread-component
        class="b-mar-gap2"
        :thread="thread"
        :is-busy="isEditDisabled"
        ref="chatThreadComponent">
    </chat-thread-component>
    <div class="input-group">
        <div class="input-button-pair">
            <textarea
                type="text"
                v-model="message"
                ref="promptInput"
                rows="3"
                :placeholder="promptPlaceholder"
                @keydown.enter.exact.prevent="submitPrompt()"
                :disabled="isEditDisabled"></textarea>
            <button
                v-if="!isEditDisabled"
                @click="submitPrompt()"
                class="button--cta"
                type="button"
                title="Send"
                :disabled="isMessageEmpty"
            >
                <icon-component name="send"></icon-component>
            </button>
            <button
                v-if="this.isEditDisabled"
                @click="abortCompletion('User aborted completion')"
                class="button--danger"
                title="Stop generation"
            >
                <icon-component name="stop"></icon-component>
            </button>
        </div>
    </div>

</div>