<div class="llm-api-settings-component">
    <div class="input-group">
        <label for="llm-api-settings-component__base-url">Base URL</label>
        <input
            type="url"
            v-model="llmApi.baseUrl"
            id="llm-api-settings-component__base-url" />
    </div>
    <div class="input-group" v-if="llmApi.requiresApiKey">
        <label :for="apiKeyUniqueId">
            API Key
            <div class="subtle-hint" class="subtle-hint">
                <ext-link :href="llmApi.apiKeyWebsite">Get API Key</ext-link>
            </div>
        </label>
        <input
            type="text"
            v-model="llmApi.apiKey"
            autocomplete="apiKeyUniqueId"
            :id="apiKeyUniqueId" />
        </label>
    </div>
    <div class="input-group" v-if="llmApi.modelIds.length">
        <label for="llm-api-settings-component__model-id">
            Model
        </label>
        <select
            id="llm-api-settings-component__model-id"
            v-model="llmApi.modelIds.selected"
        >
            <option
                v-for="modelId of llmApi.modelIds"
                :value="modelId"
            >{{ modelId }}</option>
        </select>
    </div>
    <div class="button-bar">
        <button @click="llmApi.updateModelIds()">Update</button>
    </div>
</div>