<div class="llm-settings-component">
    <div class="input-group b-mar-gap2">
        <label for="engine-selector">
            LLM Engine
            <help-component>
                <p>
                    Due to cost of running AI, this open source app relies on you to provide your AI and models. There are many options:
                </p>
                <ul>
                    <li v-for="engine of llm.engines">
                        <ext-link :href="engine.website">{{ engine.name }}</ext-link>:
                        {{ engine.description }}
                        <span v-if="engine.apiKeyWebsite" class="subtle-hint">
                            <ext-link :href="engine.apiKeyWebsite">Get API Key</ext-link>
                        </span>
                    </li>
                </ul>
                <p>
                    For services that require an API Key: it will not be stored locally or shared with anyone but it will be in the requests that are made to the API endpoints.
                </p>
            </help-component>
        </label>
        <select id="engine-selector" v-model="llm.engines.selected">
            <option v-for="engine of llm.engines" :value="engine">
                {{ engine.name }}
            </option>
        </select>
    </div>
    <div class="b-mar-gap2">
        <llm-api-settings-component :llm-api="llm.engines.selected"></llm-api-settings-component>
    </div>
    <show-hide-component title="Advanced" :hidden="true" class="b-mar-gap2">
        <div class="input-group">
            <label for="llm-temperature">
                Temperature: {{ llm.temperature }}
                <help-component>
                    <p>Temperature is a hyperparameter that governs the sampling process during text generation. It determines how "random" or "creative" the model's outputs will be:</p>
                    <ul>
                        <li>
                            Lower temperature (closer to 0): Produces more deterministic, predictable responses. The model consistently selects the highest probability words.
                        </li>
                        <li>
                            Higher temperature: Leads to more varied, creative, and sometimes unexpected responses. The model may select lower probability words, increasing diversity but potentially reducing reliability
                        </li>
                    </ul>
                </help-component>
            </label>
            <input
                type="range"
                id="llm-temperature"
                :min="config.llm.temperature.min"
                :max="config.llm.temperature.max"
                :step="config.llm.temperature.step"
                v-model.number="llm.temperature"
            />
        </div>
        <div class="input-group">
            <label for="llm-max-tokens">
                Max Tokens: {{ llm.maxTokens }}
                <help-component>
                    <p>
                        You can set a maximum tokens to be generated by the AI in response to your queries.
                    </p>
                    <p>
                        A token generally corresponds to ~4 characters in English text, with common words typically using 1-2 tokens and longer/uncommon words using more.
                    </p>
                    <ul>
                        <li>Higher max token: generates longer and more elaborate responses but takes longer</li>
                        <li>Lower max token: reduces AI response delay but may cut the message half-way through.</li>
                    </ul>
                </help-component>
            </label>
            <input
                type="range"
                id="llm-max-tokens"
                :min="config.llm.maxTokens.min"
                :max="config.llm.maxTokens.max"
                :step="config.llm.maxTokens.step"
                v-model.number="llm.maxTokens"
            />
        </div>
    </show-hide-component>
    <code-block-component v-if="logLines.length" class="b-mar-gap2">
        <div v-for="line of logLines" v-text="line"></div>
    </code-block-component>
    <div class="button-bar">
        <button @click="clearLog()" v-if="logLines.length">
            <icon-component name="delete"></icon-component>
            Clear Logs
        </button>
        <button @click="test()">
            <icon-component name="search"></icon-component>
            Test
        </button>
        <button @click="save()" class="button--cta">
            <icon-component name="favorite"></icon-component>
            Save
        </button>
    </div>
</div>