<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J0S6RM2D7G"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());gtag('config', 'G-J0S6RM2D7G');
    </script>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="index.css">
    <meta name="description" content="A bunch of Service Level examples">
    <meta property="og:title" content="Service Level Templates">
    <meta property="og:description" content="A bunch of Service Level examples">
    <meta property="og:image" content="https://slc.alexewerlof.com/img/icon.png">
    <meta property="og:url" content="https://slc.alexewerlof.com">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/svg" href="../img/icon.svg">
    <link rel="manifest" href="../manifest.json">
    <title>Service Level Templates</title>
</head>

<body>
    <noscript>
        <p>This web application requires JavaScript to work.</p>
    </noscript>

    <main id="app" v-cloak>
        <header>
            <a href="/">
                <h1>
                    <img src="../img/icon.svg" alt="Service Level Templates Logo" class="logo" />
                    Service Level Templates
                </h1>
            </a>
        </header>
    
        <!------------------------ Templates ------------------------>
        <article>
            <section>
                <h2>
                    <label for="template-filter">Filter</label>
                    <help-component>
                        <p>
                            You can load a template to kick start setting your service level objectives and start tweaking it for your needs.
                        </p>
                        <p>
                            These templates come from the workshops I run across different teams.
                            If you have an idea for a template, you can make a PR.
                        </p>
                    </help-component>
                </h2>
                <input id="template-filter" type="search" v-model="templateFilter" placeholder="Search for an template">
                <div class="search-results__count" v-if="filteredTemplates.length">
                    {{ filteredTemplates.length }} templates <button @click="templateFilter = ''">clear</button>
                </div>
                <ol class="search-results" v-if="filteredTemplates.length">
                    <li class="search-result"
                        v-for="template in filteredTemplates"
                        :key="template.title">
                        <article>
                            <section>
                                <h3 class="search-result__title">
                                    <ext-link :href="slcUrl(template)">
                                        {{ template.title }}
                                    </ext-link>
                                </h3>
                                <p class="search-result__type">
                                    <span title="Type">{{ templateType(template) }}: </span>
                                    <span title="Event unit">{{ templateUnit(template) }}</span>
                                </p>
                                <ul class="search-result__tags">
                                    <li v-for="tag in template.tags" @click="templateFilter = tag">
                                        <button>{{ tag }}</button>
                                    </li>
                                </ul>
                                <p>
                                    {{ template.description }}
                                </p>        
                            </section>
                            <section>
                                <div class="code block" id="sli-formula-code">
                                    <s-l-fraction-component
                                        :event-unit="templateUnit(template)"
                                        :lower-bound="template.lowerBound"
                                        :lower-threshold="template.lowerThreshold || '$LT'"
                                        :metric-name="template.metricName"
                                        :metric-unit="template.metricUnit"
                                        :upper-bound="template.upperBound"
                                        :upper-threshold="template.upperThreshold || '$UT'"
                                        :eventUnit="template.eventUnit"
                                        time-period="SLO Window"
                                        time-label-id="slo-window-unit-multiplier"></s-l-fraction-component>
                                </div>
                            </section>
                        </article>
                    </li>
                </ul>
                <p>
                    ⭐ 
                    <ext-link href="https://github.com/alexewerlof/slc/tree/main/templates/collection">
                        Contribute a template!
                    </ext-link>
                </p>
            </section>
        </article>
        <footer-component></footer-component>
    </main>

    <script type="module" src="index.js" defer async></script>
</body>

</html>