<div class="assessment-editor-component mozaic mozaic--gap2 pad-gap2">
    <div class="mozaic__tile mozaic__tile--3c surface">
        <chat-component :thread></chat-component>
    </div>
    <div class="mozaic__tile mozaic__tile--6c">
        <assessment-graph-component :assessment @select="editComponent"></assessment-graph-component>
    </div>
    <div class="mozaic__tile mozaic__tile--3c frost">
        <div v-if="editingClassName === 'Provider'">
            <provider-component :provider="editingInstance"></provider-component>
        </div>
        <div v-if="editingClassName === 'Service'">
            <service-component :service="editingInstance"></service-component>
        </div>
        <div v-if="editingClassName === 'Consumer'">
            <consumer-component :consumer="editingInstance"></consumer-component>
        </div>
        <div v-if="editingClassName === 'Consumption'">
            <consumption-component :consumption="editingInstance"></consumption-component>
        </div>
        <div v-if="editingClassName === 'Dependency'">
            <dependency-component :dependency="editingInstance"></dependency-component>
        </div>
    </div>
</div>
