<div class="assessment-editor-component mozaic mozaic--gap2 pad-gap2">
    <div class="mozaic__tile mozaic__tile--3c surface">
        <chat-component :thread :tools initia-prompt="Help me assess my architecture"></chat-component>
    </div>
    <div class="mozaic__tile mozaic__tile--6c">
        <div class="frost">
            <div class="button-bar button-bar--center">
                <button @click="showDialog('importDialog', true)">
                    <icon-component name="upload"></icon-component>
                    Import
                </button>
                <button @click="showDialog('stateDialog', true)">
                    <icon-component name="download"></icon-component>
                    Export
                </button>
                <button @click="clearAssessment()" class="button--danger">
                    <icon-component name="delete"></icon-component>
                    Clear
                </button>
            </div>
        </div>
        <assessment-graph-component
            :assessment
            @select="(entity) => editingInstance = entity"
            :selected-entity="editingInstance"></assessment-graph-component>
        <dialog-component title="Summary" ref="summaryDialog">
            <summary-component :assessment></summary-component>
        </dialog-component>
        <dialog-component title="Export" ref="stateDialog">
            <tabs-component v-model="selExportTab" tabs="JSON, Markdown, Prolog"></tabs-component>
            <div v-if="selExportTab === 'Markdown'">
                <markdown-component :markdown="assessment.toString()"></markdown-component>
            </div>
            <div v-if="selExportTab === 'Prolog'">
                <code-block-component title="Prolog">
                    <formula-component :formula="assessment.toProlog()"></formula-component>
                </code-block-component>
            </div>
            <div v-if="selExportTab === 'JSON'">
                <code-block-component title="JSON">
                    <pre>{{ JSON.stringify(assessment.state, null, 2) }}</pre>
                </code-block-component>
            </div>
        </dialog-component>
        <dialog-component title="Import" ref="importDialog">
            <tabs-component v-model="selImportTab" tabs="Examples, JSON"></tabs-component>
            <div v-if="selImportTab === 'Examples'">
                <div v-for="exampleState of exampleStates">
                    <h3 v-text="exampleState.displayName"></h3>
                    <markdown-component :markdown="exampleState.description"></markdown-component>
                    <div class="button-bar">
                        <button class="button--cta"
                            @click="loadState(exampleState)"
                        >
                            <icon-component name="upload"></icon-component>
                            Load
                        </button>
                    </div>
                </div>
            </div>
            <div v-if="selImportTab === 'JSON'">
                <h3>Paste JSON state:</h3>
                <textarea v-model="uploadedState" rows="20" cols="100"></textarea>
                <div class="info block">
                    {{ uploadedStateMessage }}
                </div>
                <div class="button-bar">
                    <button @click="assignUploadedState()" class="button--cta">Load</button>
                </div>
            </div>
        </dialog-component>
    </div>
    <div class="mozaic__tile mozaic__tile--3c surface">
        <div v-if="editingClassName === 'Assessment'">
            <h2>Assessment</h2>
            <assessment-component :assessment="editingInstance"></assessment-component>
            <div class="button-bar">
                <button
                    @click="editingInstance = assessment.providers.pushNew()"
                >
                    <icon-component name="add"></icon-component>
                    Add Provider
                </button>
                <button
                    @click="editingInstance = assessment.consumers.pushNew()"
                >
                    <icon-component name="add"></icon-component>
                    Add Consumer
                </button>
            </div>
        </div>
        <div v-if="editingClassName === 'Provider'">
            <h2>Provider</h2>
            <provider-component :provider="editingInstance"></provider-component>
            <div class="button-bar">
                <button
                    @click="editingInstance = editingInstance.services.pushNew()"
                    title="Add a new Service"
                >
                    <icon-component name="add"></icon-component>
                    Add Service
                </button>
                <button
                    @click="removeProvider(editingInstance)"
                    class="button--danger"
                    title="Remove this provider"
                >
                    <icon-component name="delete"></icon-component>
                    Remove Provider
                </button>
            </div>
        </div>
        <div v-if="editingClassName === 'Service'">
            <h2>Service</h2>
            <service-component :service="editingInstance"></service-component>
            <div class="button-bar">
                <button
                    @click="editingInstance = editingInstance.provider.services.pushNew()"
                    title="Add another (sibling) service"
                >
                    <icon-component name="add"></icon-component>
                    Add Another Service
                </button>
                <button
                    @click="addMetricUsingAI($event)"
                    title="Add a new metric using AI"
                >
                    <icon-component name="ai"></icon-component>
                    Add Metric using AI
                </button>
                <button
                    @click="editingInstance = editingInstance.metrics.pushNew()"
                    title="Add a new metric"
                >
                    <icon-component name="add"></icon-component>
                    Add Metric
                </button>
                <button
                    @click="removeService(editingInstance)"
                    class="button--danger"
                    title="Remove this service"
                >
                    <icon-component name="delete"></icon-component>
                    Remove Service
                </button>
            </div>
        </div>
        <div v-if="editingClassName === 'Consumer'">
            <h2>Consumer</h2>
            <consumer-component :consumer="editingInstance"></consumer-component>
            <div class="button-bar">
                <button @click="editingInstance = editingInstance.tasks.pushNew()">
                    <icon-component name="add"></icon-component>
                    New Task
                </button>
                <button
                    @click="removeConsumer(editingInstance)"
                    class="button--danger"
                    title="Remove this consumer"
                >
                    <icon-component name="delete"></icon-component>
                    Remove Consumer
                </button>
            </div>
        </div>
        <div v-if="editingClassName === 'Task'">
            <h2>Task</h2>
            <task-component :task="editingInstance"></task-component>
            <div class="button-bar">
                <button
                    @click="editingInstance = editingInstance.consumer.tasks.pushNew()"
                    title="Add another task"
                >
                    <icon-component name="add"></icon-component>
                    Add another task
                </button>
                <button
                    @click="removeTask(editingInstance)"
                    class="button--danger"
                    title="Remove this task"
                >
                    <icon-component name="delete"></icon-component>
                    Remove Task
                </button>
            </div>
        </div>
        <div v-if="editingClassName === 'Usage'">
            <h2>Usage</h2>
            <usage-component :usage="editingInstance"></usage-component>
            <div class="button-bar">
                <button
                    @click="removeUsage(editingInstance)"
                    class="button--danger"
                    title="Remove this usage"
                >
                    <icon-component name="delete"></icon-component>
                    Remove Usage
                </button>
            </div>
        </div>
        <div v-if="editingClassName === 'Metric'">
            <h2>Metric</h2>
            <metric-component :metric="editingInstance"></metric-component>
            <div class="button-bar">
                <button
                    @click="removeMetric(editingInstance)"
                    class="button--danger"
                    title="Remove this metric"
                >
                    <icon-component name="delete"></icon-component>
                    Remove Metric
                </button>
            </div>
        </div>
    </div>
</div>
