.burn-event-component line {
    stroke: var(--foreground-color);
    stroke-width: 1px;
}

.burn-event-component text {
    font-family: var(--body-font-family);
    fill: var(--foreground-color);
    alignment-baseline: middle;
    text-shadow: 0px 0px 3px var(--background-darker);
}

.burn-event-component tspan {
    font-size: 0.8em;
}

.burn-event-component__title {
    font-size: 1rem;
    font-family: var(--title-font-family);
}

.burn-event-component__arrow {
    fill: var(--foreground-color);
}
