<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J0S6RM2D7G"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());gtag('config', 'G-J0S6RM2D7G');
    </script>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="index.css">
    <meta name="description" content="A diverse range of Service Level Indicator examples">
    <meta property="og:title" content="Service Level Templates">
    <meta property="og:description" content="A diverse range of Service Level Indicator examples">
    <meta property="og:image" content="https://slc.alexewerlof.com/img/icon.png">
    <meta property="og:url" content="https://slc.alexewerlof.com">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/svg" href="/img/icon.svg">
    <link rel="manifest" href="./manifest.json">
    <title>Service Level Templates</title>
</head>

<body>
    <noscript>
        <p>This web application requires JavaScript to work.</p>
    </noscript>

    <main id="app" v-cloak>
        <header-component title="Service Level Templates"></header-component>
    
        <!------------------------ Templates ------------------------>
        <article>
            <section>
                <div class="surface">
                    <h2>Filter</h2>
                    <div class="input-group">
                        <label>Service (group)</label>
                        <inline-select-component v-model="selectedGroup" :options="groups"></inline-select-component>
                    </div>
                    <div class="input-group" v-if="selectedGroup && categoryOptions.length > 2">
                        <label>Indicator (sub-group)</label>
                        <inline-select-component v-model="selectedCategory" :options="categoryOptions"></inline-select-component>
                    </div>
                    <div class="subtle-hint">{{ filteredPresets.length }} results</div>
                </div>
                <ol class="search-results" v-if="filteredPresets.length">
                    <li class="search-result"
                        v-for="preset in filteredPresets">
                        <article>
                            <section>
                                <h3 class="search-result__title">
                                    <ext-link :href="slcUrl(template)">
                                        {{ preset.indicator.title }}
                                    </ext-link>
                                </h3>
                                <p class="search-result__type">
                                    <span>Unit: </span>
                                    <span>{{ preset.indicator.eventUnitNorm }}</span>
                                </p>
                                <p class="search-result__type">
                                    <span>Service Type: </span>
                                    <span>{{ preset.group }}</span>
                                </p>
                                <p>
                                    {{ preset.indicator.description }}
                                </p>        
                            </section>
                            <section>
                                <code-block-component title="Service Level Status">
                                    <formula-component :formula="preset.objective.formula"></formula-component>
                                </code-block-component>
                            </section>
                        </article>
                    </li>
                </ul>
                <p>
                    ⭐ 
                    <ext-link href="https://github.com/alexewerlof/slc/tree/main/templates/collection">Contribute a template!</ext-link>
                    🎉
                </p>
            </section>
        </article>
        <footer-component></footer-component>
    </main>

    <script type="module" src="index.js" defer async></script>
</body>

</html>