<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J0S6RM2D7G"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());gtag('config', 'G-J0S6RM2D7G');
    </script>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="A diverse range of Service Level Indicator examples">
    <meta property="og:title" content="Service Level Templates">
    <meta property="og:description" content="A diverse range of Service Level Indicator examples">
    <meta property="og:image" content="https://slc.alexewerlof.com/img/icon.png">
    <meta property="og:url" content="https://slc.alexewerlof.com">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/svg" href="icon.svg">
    <link rel="manifest" href="manifest.json">
    <title>Service Level Templates</title>
</head>

<body>
    <noscript>
        <p>This web application requires JavaScript to work.</p>
    </noscript>

    <main id="app" v-cloak>
        <header-component :manifest></header-component>

        <readme-banner-component></readme-banner-component>
    
        <!------------------------ Templates ------------------------>
        <div class="pad-gap">
            <indicator-finder-component @indicator-selected="handleIndicatorSelected"></indicator-finder-component>
        </div>
        <footer-component></footer-component>
    </main>

    <script type="module" src="index.js" defer async></script>
</body>

</html>