.search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-results__count {
    flex-grow: 1;
    padding: 0.5em;
}

.search-result {
    padding: 1em;
    margin: 0;
}

.search-result:hover {
    background-color: var(--background-darker);
}

.search-result__tags {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-result__tags li {
    display: inline;
}

.search-result__tags li + li {
    display: inline;
    padding-left: 0.1em;
}

.search-result__type {
    color: var(--secondary-color);
    font-size: 0.8em;
    margin: 0;
    padding-bottom: 0.4em;
}

.search-result__title {
    margin: 0.2em 0;
    color: var(--primary-color);
}
