<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J0S6RM2D7G"></script>
    <script>
        window.dataLayer = window.dataLayer || []
        function gtag() {dataLayer.push(arguments)}
        gtag('js', new Date())
        gtag('config', 'G-J0S6RM2D7G')
    </script>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="A collection of the most common Service Level Indicators for different types of services.">
    <meta property="og:title" content="Service Level Indicator Templates">
    <meta property="og:description" content="A collection of the most common Service Level Indicators for different types of services.">
    <meta property="og:image" content="https://slc.alexewerlof.com/img/overview.png">
    <meta property="og:url" content="https://slc.alexewerlof.com/app/templates/index.html">
    <meta property="og:type" content="website">
    <link rel="canonical" href="https://slc.alexewerlof.com/app/templates/index.html">
    <link rel="icon" type="image/svg" href="icon.svg">
    <link rel="manifest" href="manifest.json">
    <title>Service Level Indicator Templates</title>
</head>

<body>
    <noscript>
        <p>This web application requires JavaScript to work.</p>
    </noscript>

    <main id="app" v-cloak>
        <header-component :manifest></header-component>

        <!------------------------ Templates ------------------------>
        <div class="pad-gap">
            <indicator-finder-component
                @indicator-selected="handleIndicatorSelected"
            ></indicator-finder-component>
        </div>
        <footer-component></footer-component>
    </main>

    <script type="module" src="index.js" defer></script>
</body>

</html>